<!DOCTYPE html>
<html>

<head>
    
</head>

<body>
    <div id="progressBar"></div>
  
    <!-- js dependencies -->
    
    <script>
        let jsonData = {
            "@title": "first progress bar",
            "@value": "50",
            "@label": "Everything worked just fine",
            "@size": "small",
            "@multiple": "true",
            "@animated": "true",
            "@state": "active",
            "@type": "indicating",
            "@content": "progress",
            "@color": ""
        }
    </script>
    <script src="/components/base.min.js"></script>
    <script src="/components/progress-bar/index.min.js"></script>
    <script>new ProgressBar(jsonData, document.querySelector("#progressBar"));</script>
 
</body>

</html>