<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="input"></div>

    <script>
        let jsonData = {
            "@title": "sample data",
            "@type": "radio",
            "@placeholder": "Enter Email",
            "@maxlength": "",
            "@value": "",
            "@checked": false,
            "@autofocus": false,
            "@required": true,
            "@disabled": false
        }
    </script>
    <script src="/components/base.min.js"></script>
    <script src="/components/input/index.min.js"></script>
    <script>new Input(jsonData, document.querySelector("#input"));</script>

</body>

</html>