<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'orgChart',
        '@width': 900,
        '@height': 500,
        '@color': null,
        '@size': 'size',
        '@allowCollapse': false,
        '>': [
            [{ v: 'Mike', f: 'Mike<div style="color:red; font-style:italic">President</div>' },
                '', 'The President'],
            [{ v: 'Jim', f: 'Jim<div style="color:red; font-style:italic">Vice President</div>' },
                'Mike', 'VP'],
            ['Alice', 'Mike', ''],
            ['Bob', 'Jim', 'Bob Sponge'],
            ['Carol', 'Bob', ''],
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-org/index.min.js"></script>
<script>new OrgChart(jsonData, document.querySelector('#view'));</script>

</html>