<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div id="rating"></div>
    <script>
        const jsonData = {
            "@id": "ratingOne",
            "@title": "",
            "@displayStyle": "like",
            "@data-rating": '',
            "@data-max-rating": 1,
            "@size": "",
            "@disabled": false
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/rating/index.min.js"></script>
    <script>
        new Rating(jsonData, document.querySelector("#rating"));
    </script>
    
</body>
</html>