/*================================================================================

[Table of contents]
-------------------
1. Body
2. Clearfix
3. Sidebar,Navbar Change Color List
4. Timeline timeline.html
6. Some Settings (Margins,Paddings e.t.c)
8. Grid Page grid.html
10.Mobile Page Settings
11.Typography Settings
================================================================================*/

@import "app-shell-extra-colors.scss";
@import "app-shell-pace.scss";


/* Default font for this theme is Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

/*******************************
             Global
*******************************/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #FFFFFF;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
}
html,
body {
    min-height: 100%;
    height: 100%;
    background: #f1f4f5;
}
html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}
.pusher {
    min-height: 100%;
    height: 100%;
    position: relative;
}
.fullheight {
    height: 100%;
    min-height: 810px;
}
/* =============Clearfix============= */

.no-padding {
    padding: 0!important;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
/* =============Clearfix============= */

.ui.menu .dropdown.item .menu {
    min-width: 180px;
}
.tabmenu {
    display: flex !important;
    padding: 0 !important;
}
.error404 {
    background: url(../img/404.png) no-repeat top center #6a8733 !important;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
/* =============Sidebar,Navbar Change Color List============= */

.colorlist,
.sidecolor {
    float: left !important;
    text-align: left !important;
    -webkit-padding-start: 0 !important;
    list-style: none;
    max-width: 180px;
}
.colorlist li,
.sidecolor li {
    float: left;
    cursor: pointer;
    margin: 1px;
}
.colorlist li a,
.sidecolor li a {
    width: 10px;
    height: 10px;
    display: block;
}
.colorwrap .row .column .segment {
    min-height: 268px;
}
.colorwrap .row .column .segment p {
    font-size: 1.6em;
}
/* =============Sidebar,Navbar Change Color List============= */
/* =============Timeline============ */

.timeline {
    border-left: 1px solid #307473;
    margin-left: 15px !important;
    position: relative;
    padding-bottom: 10px;
}
.timeline:after {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    position: absolute;
    left: -8.8px;
    border-radius: 50%;
    background: #307473;
    margin-bottom: 10px;
}
.timeline .event {
    margin-left: -18px !important;
}
/* =============Timeline============ */

/* =============Some Settings=========== */

.ui.vertical.divider {
    left: 50% !important;
}
.filtr-item img {
    width: 100px;
}
.marginlefting {
    margin-left: 60px !important;
}
.displaynone {
    display: none !important;
}
.displayblock {
    display: block !important;
}
.sidebar .item i {
    font-size: 20px;
    margin-top: -5px !important;
}
.left.sidebar {
    overflow-y: auto !important;
}
.logo {
    height: 57px;
    background-color: #fff!important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.logo img {
    width: 100% !important;
    height: auto;
}
.title.item {
    padding: .92857143em 1.14285714em !important;
}
.dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
}
.titleIcon {
    float: left !important;
    margin: 0 10px 0 0 !important;
}
.sidebar::-webkit-scrollbar {
    display: none !important;
}
.ui.sidebar.very.thin.icon {
    overflow: visible !important;
}
.navslide {
    margin-left: 190px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.mainWrap {
    background: #f1f4f5;
    min-height: 100%;
    position: relative;
}
.mainWrap .segment {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pusher .navslide.navwrap .menu {
    border-radius: 0;
    border: 0;
}
.title .dropdown.icon {
    margin-top: 0px !important;
}
.flotchart {
    width: 100%;
    height: 100px;
}
.flotvisitor {
    width: 100%;
    height: 300px;
}
.statisticIcon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px !important;
    margin-right: 5px !important;
    font-size: 4em !important;
}
.column p .wi {
    font-size: 1.5em !important;
    color: #ff6a00;
}
.ass {
    border-radius: 50% !important;
}
.flotTip {
    font-size: 12px !important;
    background-color: #1f364f !important;
    color: #fff;
    padding: 5px 8px !important;
    z-index: 900 !important;
    border-radius: 3px !important;
}
.ui.right.sidebar {
    background: #fff;
}
.ui.right.sidebar .tab {
    padding: 10px;
    min-height: 100%
}
.ui.tabular.menu {
    margin-bottom: 0;
}
.ui.button,
.ui.buttons,
.ui.label,
.ui.labels,
.ui.input {
    margin-bottom: 10px;
}
/* =============Some Settings=========== */


/* =============Grid Page Css============= */

#grid {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    min-height: 30px;
    padding: 0 3em;
}
#grid .row .column:nth-child(n) {
    background: #48A9A6;
    min-height: 30px;
    padding: 10px 0;
}
#grid .row .column:nth-child(2n) {
    background: #4281A4;
    min-height: 30px;
    padding: 10px 0;
}
#grid {} #grid h2 {
    margin: 2em 0 1.5em;
}
#grid .shaded.examples .row {
    position: relative;
}
#grid .shaded.examples .grid>.column {
    position: relative;
    z-index: 11;
}
#grid .divided.examples .grid .column:not(.row):after {
    background-color: #1f364f;
    content: "";
    display: block;
    min-height: 30px;
}
#grid .nested.examples .grid .grid {
    box-shadow: 0 0 0 1px #AAA inset;
}
#grid .simple.examples .grid .column:not(.row):not(.grid):after {
    content: "";
    display: block;
    min-height: 30px;
}
#grid .shaded.examples .grid .column:not(.row):after,
#grid .nested.examples .grid .grid .column:after {
    background-color: #FFF;
    box-shadow: 0 0 0 1px #DDD inset;
    content: "";
    display: block;
    min-height: 30px;
}


/* =============Grid Page Css============= */

/* MOBIL PAGE SETTINGS*/
/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .colhidden {
        display: block
    }
    .computer .only {
        display: block;
    }
    #radios {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .row .column {
        margin-bottom: 20px!important;
    }
    .ui .buttons {
        display: inline!important;
    }
    .ui .buttons .button {
        margin-bottom: 10px;
    }
    .hiddenui {
        display: none!important;
    }
    .ui.menu .dropdown.item .menu {
        height: 100%;
        min-height: 15em;
    }
    .ui .breadcrumb .section {
        margin-bottom: 15px;
    }
    .ui .label {
        margin-bottom: 10px!important;
    }
    .ui.compact.selection.dropdown {
        margin-bottom: 10px!important
    }
    .chat-history {
        overflow-y: scroll!important;
    }
    .icon.link {
        margin-bottom: 10px!important
    }
    .ui.toggle.checkbox,
    .ui.slider.checkbox {
        margin-bottom: 10px
    }
    #data_table_filter,
    #data_table_info,
    #data_table_paginate {
        display: none!important
    }
    #data_table thead tr th {
        width: 90%!important;
        min-height: 25px!important
    }
    .colhidden {
        display: none!important
    }
    #radios {
        width: 100%;
    }
}
/* MOBIL PAGE SETTINGS*/
/* Typography Styles*/

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #666;
}
dt::after {
    content: ":";
}
dd {
    margin: 0px 0 0 110px;
    padding: 0 0 0.5em 0;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
/* Typography Styles*/

.sidemenu {
    background: #333c44;
}
html {
    font-size: 12px!important;
}
div.transition a.item {
    margin-left: 30px;
}
.sidemenu .item {
    color: rgba(224, 219, 219, 0.9);
}
.ui.left.sidebar,
.ui.right.sidebar {
    width: 190px;
}

.hiddenCollapse .statistics .label {
    opacity: 0.5;
}