// Reset.scss
* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

// Site.scss

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

body {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:window-inactive {
      background: rgba(0, 0, 0, 0.15);
    }
    &:hover {
      background: rgba(128, 135, 139, 0.8);
    }
  }
}
kc-button, .ui {
  .ui {
    &.button {
      cursor: pointer;
      display: inline-block;
      min-height: 1em;
      outline: none;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0, 0, 0, 0.6);
      font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
      margin: 0em 0.25em 0em 0em;
      padding: 0.78571429em 1.5em 0.78571429em;
      text-transform: none;
      text-shadow: none;
      font-weight: bold;
      line-height: 1em;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 0.28571429rem;
      -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease, -webkit-box-shadow 0.1s ease;
      will-change: "";
      -webkit-tap-highlight-color: transparent;
      &:hover {
        background-color: #cacbcd;
        background-image: none;
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        color: rgba(0, 0, 0, 0.8);
        .icon {
          opacity: 0.85;
        }
      }
      &:focus {
        background-color: #cacbcd;
        color: rgba(0, 0, 0, 0.8);
        background-image: "" !important;
        -webkit-box-shadow: "" !important;
        box-shadow: "" !important;
        .icon {
          opacity: 0.85;
        }
      }
      &:active {
        background-color: #babbbc;
        background-image: "";
        color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
        box-shadow: 0px 0px 0px 1px transparent inset, none;
      }
    }
    &.active.button {
      &:active {
        background-color: #babbbc;
        background-image: "";
        color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
        box-shadow: 0px 0px 0px 1px transparent inset, none;
      }
      background-color: #c0c1c2;
      background-image: none;
      -webkit-box-shadow: 0px 0px 0px 1px transparent inset;
      box-shadow: 0px 0px 0px 1px transparent inset;
      color: rgba(0, 0, 0, 0.95);
      &:hover {
        background-color: #c0c1c2;
        background-image: none;
        color: rgba(0, 0, 0, 0.95);
      }
      &:active {
        background-color: #c0c1c2;
        background-image: none;
      }
    }
    &.inverted {
      &.button {
        -webkit-box-shadow: 0px 0px 0px 2px #ffffff inset !important;
        box-shadow: 0px 0px 0px 2px #ffffff inset !important;
        background: transparent none;
        color: #ffffff;
        text-shadow: none !important;
      }
      &.buttons .button {
        margin: 0px 0px 0px -2px;
        &:first-child {
          margin-left: 0em;
        }
      }
      &.vertical.buttons .button {
        margin: 0px 0px -2px 0px;
        &:first-child {
          margin-top: 0em;
        }
      }
      &.button {
        &:hover,
        &:focus {
          background: #ffffff;
          -webkit-box-shadow: 0px 0px 0px 2px #ffffff inset !important;
          box-shadow: 0px 0px 0px 2px #ffffff inset !important;
          color: rgba(0, 0, 0, 0.8);
        }
        &.active {
          background: #ffffff;
          -webkit-box-shadow: 0px 0px 0px 2px #ffffff inset !important;
          box-shadow: 0px 0px 0px 2px #ffffff inset !important;
          color: rgba(0, 0, 0, 0.8);
          &:focus {
            background: #dcddde;
            -webkit-box-shadow: 0px 0px 0px 2px #dcddde inset !important;
            box-shadow: 0px 0px 0px 2px #dcddde inset !important;
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
    &.button {
      > .icon:not(.button) {
        height: 0.85714286em;
        opacity: 0.8;
        margin: 0em 0.42857143em 0em -0.21428571em;
        -webkit-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
        vertical-align: "";
        color: "";
      }
      &:not(.icon) > {
        .icon:not(.button):not(.dropdown) {
          margin: 0em 0.42857143em 0em -0.21428571em;
        }
        .right.icon:not(.button):not(.dropdown) {
          margin: 0em -0.21428571em 0em 0.42857143em;
        }
      }
    }
    &[class*="left floated"] {
      &.buttons,
      &.button {
        float: left;
        margin-left: 0em;
        margin-right: 0.25em;
      }
    }
    &[class*="right floated"] {
      &.buttons,
      &.button {
        float: right;
        margin-right: 0em;
        margin-left: 0.25em;
      }
    }
    &.compact {
      &.buttons .button,
      &.button {
        padding: 0.58928571em 1.125em 0.58928571em;
      }
      &.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 0.58928571em 0.58928571em;
        }
      }
      &.labeled.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 3.69642857em 0.58928571em;
        }
      }
    }
    &.mini {
      &.buttons {
        .button,
        .or {
          font-size: 0.78571429rem;
        }
      }
      &.button {
        font-size: 0.78571429rem;
      }
    }
    &.tiny {
      &.buttons {
        .button,
        .or {
          font-size: 0.85714286rem;
        }
      }
      &.button {
        font-size: 0.85714286rem;
      }
    }
    &.small {
      &.buttons {
        .button,
        .or {
          font-size: 0.92857143rem;
        }
      }
      &.button {
        font-size: 0.92857143rem;
      }
    }
    &.buttons {
      .button,
      .or {
        font-size: 1rem;
      }
    }
    &.button {
      font-size: 1rem;
    }
    &.large {
      &.buttons {
        .button,
        .or {
          font-size: 1.14285714rem;
        }
      }
      &.button {
        font-size: 1.14285714rem;
      }
    }
    &.big {
      &.buttons {
        .button,
        .or {
          font-size: 1.28571429rem;
        }
      }
      &.button {
        font-size: 1.28571429rem;
      }
    }
    &.huge {
      &.buttons {
        .button,
        .or {
          font-size: 1.42857143rem;
        }
      }
      &.button {
        font-size: 1.42857143rem;
      }
    }
    &.massive {
      &.buttons {
        .button,
        .or {
          font-size: 1.71428571rem;
        }
      }
      &.button {
        font-size: 1.71428571rem;
      }
    }
    &.icon {
      &.buttons .button,
      &.button {
        padding: 0.78571429em 0.78571429em 0.78571429em;
      }
      &.buttons .button > .icon,
      &.button > .icon {
        opacity: 0.9;
        margin: 0em !important;
        vertical-align: top;
      }
    }
    &.basic {
      &.buttons .button,
      &.button {
        background: transparent none !important;
        color: rgba(0, 0, 0, 0.6) !important;
        font-weight: normal;
        border-radius: 0.28571429rem;
        text-transform: none;
        text-shadow: none !important;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 0.28571429rem;
        .button {
          border-radius: 0em;
          &:hover {
            background: #ffffff !important;
            color: rgba(0, 0, 0, 0.8) !important;
            -webkit-box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset,
              0px 0px 0px 0px rgba(34, 36, 38, 0.15) inset;
            box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset, 0px 0px 0px 0px rgba(34, 36, 38, 0.15) inset;
          }
        }
      }
    }
    &.fluid {
      &.buttons {
        width: 100%;
      }
      &.button {
        width: 100%;
        display: block;
      }
    }
    &.two.buttons {
      width: 100%;
      > .button {
        width: 50%;
      }
    }
    &.three.buttons {
      width: 100%;
      > .button {
        width: 33.333%;
      }
    }
    &.four.buttons {
      width: 100%;
      > .button {
        width: 25%;
      }
    }
    &.five.buttons {
      width: 100%;
      > .button {
        width: 20%;
      }
    }
    &.six.buttons {
      width: 100%;
      > .button {
        width: 16.666%;
      }
    }
    &.seven.buttons {
      width: 100%;
      > .button {
        width: 14.285%;
      }
    }
    &.eight.buttons {
      width: 100%;
      > .button {
        width: 12.5%;
      }
    }
    &.nine.buttons {
      width: 100%;
      > .button {
        width: 11.11%;
      }
    }
    &.ten.buttons {
      width: 100%;
      > .button {
        width: 10%;
      }
    }
    &.eleven.buttons {
      width: 100%;
      > .button {
        width: 9.09%;
      }
    }
    &.twelve.buttons {
      width: 100%;
      > .button {
        width: 8.3333%;
      }
    }
    &.black {
      &.buttons .button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #27292a;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #2f3032;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #343637;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #0f0f10;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #0f0f10;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #0f0f10;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.buttons:not(.vertical) > .basic.black.button:not(:first-child) {
      margin-left: -1px;
    }
    &.grey {
      &.buttons .button {
        background-color: #767676;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #767676;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #838383;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #8a8a8a;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #909090;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #696969;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #696969;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #696969;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.brown {
      &.buttons .button {
        background-color: #a5673f;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #a5673f;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #975b33;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #90532b;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #805031;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #995a31;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #995a31;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #995a31;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.blue {
      &.buttons .button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #1678c2;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #0d71bb;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #1a69a4;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #1279c6;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.buttons:not(.vertical) > .basic.blue.button:not(:first-child) {
      margin-left: -1px;
    }
    &.green {
      &.buttons .button {
        background-color: #21ba45;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #21ba45;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #16ab39;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #0ea432;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #198f35;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #13ae38;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #13ae38;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #13ae38;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.orange {
      &.buttons .button {
        background-color: #f2711c;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #f2711c;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #f26202;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #e55b00;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cf590c;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #f56100;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #f56100;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #f56100;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.pink {
      &.buttons .button {
        background-color: #e03997;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #e03997;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #e61a8d;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #e10f85;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #c71f7e;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #ea158d;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #ea158d;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #ea158d;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.violet {
      &.buttons .button {
        background-color: #6435c9;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #6435c9;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #5829bb;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #4f20b5;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #502aa1;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #5626bf;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #5626bf;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #5626bf;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.purple {
      &.buttons .button {
        background-color: #a333c8;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #a333c8;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #9627ba;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #8f1eb4;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #82299f;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #9724be;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #9724be;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #9724be;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.red {
      &.buttons .button {
        background-color: #db2828;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #db2828;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #d01919;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #ca1010;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #b21e1e;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #d41515;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #d41515;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #d41515;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.teal {
      &.buttons .button {
        background-color: #00b5ad;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #00b5ad;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #008c86;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #00827c;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #009c95;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.olive {
      &.buttons .button {
        background-color: #b5cc18;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #b5cc18;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #a7bd0d;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #a0b605;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #8d9e13;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #aac109;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #aac109;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #aac109;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.yellow {
      &.buttons .button {
        background-color: #fbbd08;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #fbbd08;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #daa300;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cd9903;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #eaae00;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.buttons {
      &:not(.vertical) > .basic.primary.button:not(:first-child) {
        margin-left: -1px;
      }
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 0em;
      vertical-align: baseline;
      margin: 0em 0.25em 0em 0em;
      &:not(.basic):not(.inverted) {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      .button {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0em;
        border-radius: 0em;
        margin: 0px 0px 0px 0px;
      }
      > .ui.button:not(.basic):not(.inverted),
      &:not(.basic):not(.inverted) > .button {
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      .button {
        &:first-child {
          border-left: none;
          margin-left: 0em;
          border-top-left-radius: 0.28571429rem;
          border-bottom-left-radius: 0.28571429rem;
        }
        &:last-child {
          border-top-right-radius: 0.28571429rem;
          border-bottom-right-radius: 0.28571429rem;
        }
      }
    }
  }
}
