* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

// site.scss
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

body {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:window-inactive {
      background: rgba(0, 0, 0, 0.15);
    }
    &:hover {
      background: rgba(128, 135, 139, 0.8);
    }
  }
}

kc-button, .ui {
  .ui {
    &.button {
      cursor: pointer;
      display: inline-block;
      min-height: 1em;
      outline: none;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0, 0, 0, 0.6);
      font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
      margin: 0em 0.25em 0em 0em;
      padding: 0.78571429em 1.5em 0.78571429em;
      text-transform: none;
      text-shadow: none;
      font-weight: bold;
      line-height: 1em;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 0.28571429rem;
      -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease, -webkit-box-shadow 0.1s ease;
      will-change: "";
      -webkit-tap-highlight-color: transparent;
      &:hover {
        background-color: #cacbcd;
        background-image: none;
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        color: rgba(0, 0, 0, 0.8);
        .icon {
          opacity: 0.85;
        }
      }
      &:focus {
        background-color: #cacbcd;
        color: rgba(0, 0, 0, 0.8);
        background-image: "" !important;
        -webkit-box-shadow: "" !important;
        box-shadow: "" !important;
        .icon {
          opacity: 0.85;
        }
      }
      &:active {
        background-color: #babbbc;
        background-image: "";
        color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
        box-shadow: 0px 0px 0px 1px transparent inset, none;
      }
    }
    &.button {
      > .icon:not(.button) {
        height: 0.85714286em;
        opacity: 0.8;
        margin: 0em 0.42857143em 0em -0.21428571em;
        -webkit-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
        vertical-align: "";
        color: "";
      }
      &:not(.icon) > {
        .icon:not(.button):not(.dropdown) {
          margin: 0em 0.42857143em 0em -0.21428571em;
        }
        .right.icon:not(.button):not(.dropdown) {
          margin: 0em -0.21428571em 0em 0.42857143em;
        }
      }
    }
    &[class*="left floated"] {
      &.buttons,
      &.button {
        float: left;
        margin-left: 0em;
        margin-right: 0.25em;
      }
    }
    &[class*="right floated"] {
      &.buttons,
      &.button {
        float: right;
        margin-right: 0em;
        margin-left: 0.25em;
      }
    }
    &.compact {
      &.buttons .button,
      &.button {
        padding: 0.58928571em 1.125em 0.58928571em;
      }
      &.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 0.58928571em 0.58928571em;
        }
      }
      &.labeled.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 3.69642857em 0.58928571em;
        }
      }
    }
    &.mini {
      &.buttons {
        .button,
        .or {
          font-size: 0.78571429rem;
        }
      }
      &.button {
        font-size: 0.78571429rem;
      }
    }
    &.tiny {
      &.buttons {
        .button,
        .or {
          font-size: 0.85714286rem;
        }
      }
      &.button {
        font-size: 0.85714286rem;
      }
    }
    &.small {
      &.buttons {
        .button,
        .or {
          font-size: 0.92857143rem;
        }
      }
      &.button {
        font-size: 0.92857143rem;
      }
    }
    &.buttons {
      .button,
      .or {
        font-size: 1rem;
      }
    }
    &.button {
      font-size: 1rem;
    }
    &.large {
      &.buttons {
        .button,
        .or {
          font-size: 1.14285714rem;
        }
      }
      &.button {
        font-size: 1.14285714rem;
      }
    }
    &.big {
      &.buttons {
        .button,
        .or {
          font-size: 1.28571429rem;
        }
      }
      &.button {
        font-size: 1.28571429rem;
      }
    }
    &.huge {
      &.buttons {
        .button,
        .or {
          font-size: 1.42857143rem;
        }
      }
      &.button {
        font-size: 1.42857143rem;
      }
    }
    &.massive {
      &.buttons {
        .button,
        .or {
          font-size: 1.71428571rem;
        }
      }
      &.button {
        font-size: 1.71428571rem;
      }
    }
    &.icon {
      &.buttons .button,
      &.button {
        padding: 0.78571429em 0.78571429em 0.78571429em;
      }
      &.buttons .button > .icon,
      &.button > .icon {
        opacity: 0.9;
        margin: 0em !important;
        vertical-align: top;
      }
    }
    &.circular.button {
      border-radius: 10em;
      > .icon {
        width: 1em;
        vertical-align: baseline;
      }
    }
    &.black {
      &.buttons .button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #27292a;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #2f3032;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #343637;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #0f0f10;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #0f0f10;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #0f0f10;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.black {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #d4d4d5 inset !important;
        box-shadow: 0px 0px 0px 2px #d4d4d5 inset !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .active.button,
      &.active.button,
      &.buttons .button:active,
      &.button:active {
        background-color: #000000;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.grey {
      &.buttons .button {
        background-color: #767676;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #767676;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #838383;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #8a8a8a;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #909090;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #696969;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #696969;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #696969;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.grey {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #d4d4d5 inset !important;
        box-shadow: 0px 0px 0px 2px #d4d4d5 inset !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: rgba(0, 0, 0, 0.6);
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #cfd0d2;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #c7c9cb;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #cfd0d2;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #c2c4c5;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.brown {
      &.buttons .button {
        background-color: #a5673f;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #a5673f;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #975b33;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #90532b;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #805031;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #995a31;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #995a31;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #995a31;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.brown {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #d67c1c inset !important;
        box-shadow: 0px 0px 0px 2px #d67c1c inset !important;
        color: #d67c1c;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #c86f11;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #c16808;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #cc6f0d;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #a96216;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.blue {
      &.buttons .button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #1678c2;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #0d71bb;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #1a69a4;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #1279c6;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.blue {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #54c8ff inset !important;
        box-shadow: 0px 0px 0px 2px #54c8ff inset !important;
        color: #54c8ff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #3ac0ff;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #2bbbff;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #3ac0ff;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #21b8ff;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.green {
      &.buttons .button {
        background-color: #21ba45;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #21ba45;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #16ab39;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #0ea432;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #198f35;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #13ae38;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #13ae38;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #13ae38;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.green {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #2ecc40 inset !important;
        box-shadow: 0px 0px 0px 2px #2ecc40 inset !important;
        color: #2ecc40;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #22be34;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #19b82b;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #1fc231;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #25a233;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.orange {
      &.buttons .button {
        background-color: #f2711c;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #f2711c;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #f26202;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #e55b00;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cf590c;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #f56100;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #f56100;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #f56100;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.orange {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #ff851b inset !important;
        box-shadow: 0px 0px 0px 2px #ff851b inset !important;
        color: #ff851b;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #ff7701;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #f17000;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #ff7701;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #e76b00;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.pink {
      &.buttons .button {
        background-color: #e03997;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #e03997;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #e61a8d;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #e10f85;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #c71f7e;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #ea158d;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #ea158d;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #ea158d;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.pink {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #ff8edf inset !important;
        box-shadow: 0px 0px 0px 2px #ff8edf inset !important;
        color: #ff8edf;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #ff74d8;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #ff65d3;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #ff74d8;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #ff5bd1;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.violet {
      &.buttons .button {
        background-color: #6435c9;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #6435c9;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #5829bb;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #4f20b5;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #502aa1;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #5626bf;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #5626bf;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #5626bf;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.violet {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #a291fb inset !important;
        box-shadow: 0px 0px 0px 2px #a291fb inset !important;
        color: #a291fb;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #8a73ff;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #7d64ff;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #8a73ff;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #7860f9;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.purple {
      &.buttons .button {
        background-color: #a333c8;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #a333c8;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #9627ba;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #8f1eb4;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #82299f;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #9724be;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #9724be;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #9724be;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.purple {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #dc73ff inset !important;
        box-shadow: 0px 0px 0px 2px #dc73ff inset !important;
        color: #dc73ff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #d65aff;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #d24aff;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #d65aff;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cf40ff;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.red {
      &.buttons .button {
        background-color: #db2828;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #db2828;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #d01919;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #ca1010;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #b21e1e;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #d41515;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #d41515;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #d41515;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.red {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #ff695e inset !important;
        box-shadow: 0px 0px 0px 2px #ff695e inset !important;
        color: #ff695e;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #ff5144;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #ff4335;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #ff5144;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #ff392b;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.teal {
      &.buttons .button {
        background-color: #00b5ad;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #00b5ad;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #008c86;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #00827c;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #009c95;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #009c95;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.teal {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #6dffff inset !important;
        box-shadow: 0px 0px 0px 2px #6dffff inset !important;
        color: #6dffff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: rgba(0, 0, 0, 0.6);
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #54ffff;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #44ffff;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #54ffff;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #3affff;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.olive {
      &.buttons .button {
        background-color: #b5cc18;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #b5cc18;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #a7bd0d;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #a0b605;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #8d9e13;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #aac109;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #aac109;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #aac109;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.olive {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #d9e778 inset !important;
        box-shadow: 0px 0px 0px 2px #d9e778 inset !important;
        color: #d9e778;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: rgba(0, 0, 0, 0.6);
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #d8ea5c;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #daef47;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #daed59;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cddf4d;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.yellow {
      &.buttons .button {
        background-color: #fbbd08;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #fbbd08;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #daa300;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #cd9903;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #eaae00;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #eaae00;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.yellow {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #ffe21f inset !important;
        box-shadow: 0px 0px 0px 2px #ffe21f inset !important;
        color: #ffe21f;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: rgba(0, 0, 0, 0.6);
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #ffdf05;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #f5d500;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #ffdf05;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #ebcd00;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.primary {
      &.buttons .button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #2185d0;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #1678c2;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #0d71bb;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #1a69a4;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #1279c6;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #1279c6;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.primary {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #54c8ff inset !important;
        box-shadow: 0px 0px 0px 2px #54c8ff inset !important;
        color: #54c8ff;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #3ac0ff;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #2bbbff;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #3ac0ff;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #21b8ff;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
    &.secondary {
      &.buttons .button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
      }
      &.button {
        background-color: #1b1c1d;
        color: #ffffff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #27292a;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #2e3032;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #343637;
        color: #ffffff;
        text-shadow: none;
      }
      &.buttons .active.button {
        background-color: #27292a;
        color: #ffffff;
        text-shadow: none;
        &:active {
          background-color: #27292a;
          color: #ffffff;
          text-shadow: none;
        }
      }
      &.active.button,
      &.button .active.button:active {
        background-color: #27292a;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.inverted.secondary {
      &.buttons .button,
      &.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #545454 inset !important;
        box-shadow: 0px 0px 0px 2px #545454 inset !important;
        color: #545454;
      }
      &.buttons .button:hover,
      &.button:hover,
      &.buttons .button:focus,
      &.button:focus,
      &.buttons .button.active,
      &.button.active,
      &.buttons .button:active,
      &.button:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
      }
      &.buttons .button:hover,
      &.button:hover {
        background-color: #616161;
      }
      &.buttons .button:focus,
      &.button:focus {
        background-color: #686868;
      }
      &.buttons .active.button,
      &.active.button {
        background-color: #616161;
      }
      &.buttons .button:active,
      &.button:active {
        background-color: #6e6e6e;
      }
      &.basic.buttons .button,
      &.buttons .basic.button {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        color: #ffffff !important;
      }
    }
  }
}
