// Reset.scss
* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

// site.scss
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

kc-button, .ui {
  .ui {
    &.button {
      cursor: pointer;
      display: inline-block;
      min-height: 1em;
      outline: none;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0, 0, 0, 0.6);
      font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
      margin: 0em 0.25em 0em 0em;
      padding: 0.78571429em 1.5em 0.78571429em;
      text-transform: none;
      text-shadow: none;
      font-weight: bold;
      line-height: 1em;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 0.28571429rem;
      -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease,
        -webkit-box-shadow 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease;
      transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
        background 0.1s ease, -webkit-box-shadow 0.1s ease;
      will-change: "";
      -webkit-tap-highlight-color: transparent;
      &:hover {
        background-color: #cacbcd;
        background-image: none;
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        color: rgba(0, 0, 0, 0.8);
        .icon {
          opacity: 0.85;
        }
      }
      &:focus {
        background-color: #cacbcd;
        color: rgba(0, 0, 0, 0.8);
        background-image: "" !important;
        -webkit-box-shadow: "" !important;
        box-shadow: "" !important;
        .icon {
          opacity: 0.85;
        }
      }
      &:active {
        background-color: #babbbc;
        background-image: "";
        color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
        box-shadow: 0px 0px 0px 1px transparent inset, none;
      }
    }
    &.active.button {
      &:active {
        background-color: #babbbc;
        background-image: "";
        color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
        box-shadow: 0px 0px 0px 1px transparent inset, none;
      }
      background-color: #c0c1c2;
      background-image: none;
      -webkit-box-shadow: 0px 0px 0px 1px transparent inset;
      box-shadow: 0px 0px 0px 1px transparent inset;
      color: rgba(0, 0, 0, 0.95);
      &:hover {
        background-color: #c0c1c2;
        background-image: none;
        color: rgba(0, 0, 0, 0.95);
      }
      &:active {
        background-color: #c0c1c2;
        background-image: none;
      }
    }
    &.facebook.button {
      background-color: #3b5998;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #304d8a;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #2d4373;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.twitter.button {
      background-color: #55acee;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #35a2f4;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #2795e9;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.google.plus.button {
      background-color: #dd4b39;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #e0321c;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #c23321;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.linkedin.button {
      background-color: #1f88be;
      color: #ffffff;
      text-shadow: none;
      &:hover {
        background-color: #147baf;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #186992;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.youtube.button {
      background-color: #ff0000;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #e60000;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #cc0000;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.instagram.button {
      background-color: #49769c;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #3d698e;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #395c79;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.pinterest.button {
      background-color: #bd081c;
      color: #ffffff;
      text-shadow: none;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #ac0013;
        color: #ffffff;
        text-shadow: none;
      }
      &:active {
        background-color: #8c0615;
        color: #ffffff;
        text-shadow: none;
      }
    }
    &.vk.button {
      background-color: #4d7198;
      color: #ffffff;
      background-image: none;
      -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
      &:hover {
        background-color: #41648a;
        color: #ffffff;
      }
      &:active {
        background-color: #3c5876;
        color: #ffffff;
      }
    }
    &.button {
      > .icon:not(.button) {
        height: 0.85714286em;
        opacity: 0.8;
        margin: 0em 0.42857143em 0em -0.21428571em;
        -webkit-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
        vertical-align: "";
        color: "";
      }
      &:not(.icon) > {
        .icon:not(.button):not(.dropdown) {
          margin: 0em 0.42857143em 0em -0.21428571em;
        }
        .right.icon:not(.button):not(.dropdown) {
          margin: 0em -0.21428571em 0em 0.42857143em;
        }
      }
    }
    &.compact {
      &.buttons .button,
      &.button {
        padding: 0.58928571em 1.125em 0.58928571em;
      }
      &.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 0.58928571em 0.58928571em;
        }
      }
      &.labeled.icon {
        &.buttons .button,
        &.button {
          padding: 0.58928571em 3.69642857em 0.58928571em;
        }
      }
    }
    &.mini {
      &.buttons {
        .button,
        .or {
          font-size: 0.78571429rem;
        }
      }
      &.button {
        font-size: 0.78571429rem;
      }
    }
    &.tiny {
      &.buttons {
        .button,
        .or {
          font-size: 0.85714286rem;
        }
      }
      &.button {
        font-size: 0.85714286rem;
      }
    }
    &.small {
      &.buttons {
        .button,
        .or {
          font-size: 0.92857143rem;
        }
      }
      &.button {
        font-size: 0.92857143rem;
      }
    }
    &.buttons {
      .button,
      .or {
        font-size: 1rem;
      }
    }
    &.button {
      font-size: 1rem;
    }
    &.large {
      &.buttons {
        .button,
        .or {
          font-size: 1.14285714rem;
        }
      }
      &.button {
        font-size: 1.14285714rem;
      }
    }
    &.big {
      &.buttons {
        .button,
        .or {
          font-size: 1.28571429rem;
        }
      }
      &.button {
        font-size: 1.28571429rem;
      }
    }
    &.huge {
      &.buttons {
        .button,
        .or {
          font-size: 1.42857143rem;
        }
      }
      &.button {
        font-size: 1.42857143rem;
      }
    }
    &.massive {
      &.buttons {
        .button,
        .or {
          font-size: 1.71428571rem;
        }
      }
      &.button {
        font-size: 1.71428571rem;
      }
    }
    &.fluid {
      &.buttons {
        width: 100%;
      }
      &.button {
        width: 100%;
        display: block;
      }
    }
    &.icon {
      &.buttons .button,
      &.button {
        padding: 0.78571429em 0.78571429em 0.78571429em;
      }
      &.buttons .button > .icon,
      &.button > .icon {
        opacity: 0.9;
        margin: 0em !important;
        vertical-align: top;
      }
    }
  }
}
