.ui.table.dataTable {
    thead {
      th {
        cursor: pointer;
        white-space: nowrap;
        border-left: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        &:first-child {
          border-left: none;
        }
      }
      .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled, .sorting:hover, .sorting_asc:hover, .sorting_desc:hover, .sorting_asc_disabled:hover, .sorting_desc_disabled:hover {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      th {
        &:after {
          display: none;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          content: '';
          height: 1em;
          width: auto;
          opacity: 0.8;
          margin: 0em 0em 0em 0.5em;
          font-family: 'Icons';
        }
        &.sorting_asc:after {
          /*content: '\f0d8';*/
          content: '\f160';
        }
        &.sorting_desc:after {
          /*content: '\f0d7';*/
          content: '\f161';
        }
        &.sorting:after {
          content: '\f0dc';
          opacity: 0.2;
        }
      }
    }
    th.disabled:hover {
      cursor: auto;
      color: rgba(40, 40, 40, 0.3);
    }
    thead {
      th:hover {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.8);
      }
      .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.95);
      }
      .sorting:after, .sorting_asc:after, .sorting_desc:after, .sorting_asc_disabled:after, .sorting_desc_disabled:after {
        display: inline-block;
      }
      .sorting_asc:hover, .sorting_desc:hover, .sorting_asc_disabled:hover, .sorting_desc_disabled:hover {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.95);
      }
    }
  }
  
  /* Hover */
  
  /* Sorted */
  
  /* Sorted Hover */
  
  .dataTables_length select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.285714rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: inline-block;
    line-height: 1.2142em;
    min-height: 0.714286em;
    outline: 0 none;
    padding: 0.3em;
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -moz-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
    -o-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
    -webkit-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
    transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  
  .dataTables_wrapper {
    .dataTables_filter {
      text-align: right;
      color: rgba(0, 0, 0, 0.87);
      display: inline-flex;
      position: relative;
      input {
        margin-left: 0.5em;
      }
    }
    .dataTables_info {
      clear: both;
      padding-top: 0.755em;
    }
  }
  
  .dataTables_filter input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.285714rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 2em;
    margin: 0;
    max-width: 100%;
    outline: 0 none;
    padding: .4em;
    text-align: left;
    -moz-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
    -o-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
    -webkit-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
  }