.ui {
    &.cards > .card {
      width: 250px;
      cursor: default;
    }
    &.cards > .pill.card:hover {
      background-color: rgb(238, 245, 247);
    }
    &.cards > .card > .content > .header, &.card > .content > .header {
      display: inline-block;
    }
    &.cards > .card > .content, &.card > .content {
      padding: 1em 1em 0.5em 0.5em;
    }
    &.cards > .card > .content > .header:not(.ui), &.card > .content > .header:not(.ui) {
      font-size: 1.1em;
    }
    &.cards > .card .meta *, &.card .meta * {
      padding: 0em 0em 0em 0.5em;
    }
    &.cards > .card > :last-child, &.card > :last-child {
      margin-bottom: 0.5em;
    }
    &.cards > .card > .image > img, &.card > .image > img {
      height: 160px;
    }
  }
  
  i {
    &.icon, &.icons {
      font-size: 1.1em;
    }
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 1em;
  }