// RESET.SCSS
* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* iPad Input Shadows */

input {
  &[type="text"],
  &[type="email"],
  &[type="search"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* mobile firefox too! */
  }
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

.ui.input > input {
  width: 18em;
}

// SITE.SCSS

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

body {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:window-inactive {
      background: rgba(0, 0, 0, 0.15);
    }
    &:hover {
      background: rgba(128, 135, 139, 0.8);
    }
  }
}

// INPUT.SCSS
kc-search-bar,
.ui {
  .ui {
    &.input {
      position: relative;
      font-weight: normal;
      font-style: normal;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      color: rgba(0, 0, 0, 0.87);
      > input {
        margin: 0em;
        max-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 1.21428571em;
        font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
        padding: 0.67857143em 1em;
        background: #ffffff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        border-radius: 0.28571429rem;
        -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
        transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
        transition: box-shadow 0.1s ease, border-color 0.1s ease;
        transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
        -webkit-box-shadow: none;
        box-shadow: none;
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: rgba(191, 191, 191, 0.87);
        }
      }
    }
    &.disabled.input,
    &.input:not(.disabled) input[disabled] {
      opacity: 0.45;
    }
    &.disabled.input > input {
      pointer-events: none;
    }
    &.input {
      &:not(.disabled) input[disabled] {
        pointer-events: none;
      }
      > input:active,
      &.down input {
        border-color: rgba(0, 0, 0, 0.3);
        background: #fafafa;
        color: rgba(0, 0, 0, 0.87);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &.input {
      &.focus {
        > input {
          border-color: #85b7d9;
          background: #ffffff;
          color: rgba(0, 0, 0, 0.8);
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        > input::-webkit-input-placeholder,
        > input::-moz-placeholder,
        > input:-ms-input-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }
      }
      > input:focus {
        border-color: #85b7d9;
        background: #ffffff;
        color: rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &.icon.input > {
      i.icon {
        cursor: default;
        position: absolute;
        line-height: 1;
        text-align: center;
        top: 0px;
        right: 0px;
        margin: 0em;
        height: 100%;
        width: 2.67142857em;
        opacity: 0.5;
        border-radius: 0em 0.28571429rem 0.28571429rem 0em;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        &:not(.link) {
          pointer-events: none;
        }
      }
      input {
        padding-right: 2.67142857em !important;
      }
      i {
        &.icon {
          &:before,
          &:after {
            left: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            margin-top: -0.5em;
          }
        }
        &.link.icon {
          cursor: pointer;
        }
        &.circular.icon {
          top: 0.35em;
          right: 0.5em;
        }
      }
    }
    &.icon.input > input:focus ~ i.icon {
      opacity: 1;
    }
    &.input {
      font-size: 1em;
    }
  }
}
