* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
  &:first-child {
    margin-top: 0em;
  }
  &:last-child {
    margin-bottom: 0em;
  }
}
kc-activity-timeline {
  .activityListClass {
    &.widget-body {
      padding: 1.5rem;
    }

    &.text-muted {
      color: #9a9a9a !important;
    }

    & a.text-muted:focus,
    a.text-muted:hover {
      color: gray !important;
    }

    &.activity-list li {
      position: relative;
      padding: 0.5rem 0rem 0rem 2rem;
      list-style: none;
      text-align: left;
      &::before {
        content: "";
        position: absolute;
        left: 0.5rem;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #e6e6e6;
      }
      & p {
        color: rgb(31, 30, 30);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 1rem;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 2px solid #e6e6e6;
        background-color: #fff;
      }

      &.activity-primary::after {
        border-color: #5d67ed;
      }

      &.activity-success::after {
        border-color: #00e09d;
      }

      &.activity-info::after {
        border-color: #46d7ea;
      }

      &.activity-warning::after {
        border-color: #ff915e;
      }

      &.activity-danger::after {
        border-color: #f45562;
      }

      &.activity-purple::after {
        border-color: #a65eff;
      }
    }
  }
}
