.first {
    width: 15%;
}

.second {
    width: 15%;
}

.third {
    width: 50%;
    text-overflow: ellipsis;
}

.fourth {
    width: 20%;
}

.fifth {
  width: 10%;  
}

i {
  &.icon, &.icons {
    font-size: 1.3em;
  }
  &.icon {
    &.trash:hover, &.mail:hover {
      color: rgb(255, 0, 0);
    }
    &.refresh {
      &:before {
        vertical-align: 0.1em;
      }
      &:hover {
        cursor: pointer;
        color: rgb(214, 7, 7);
      }
    }
  }
}

.ui.vertical.menu .menu .item {
    padding: 1.2em;
    &:before {
      display: block;
    }
    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }
  }

  .ui.rating > i.icon {
    font-size: 1.5em;
  }

  .ui.selectable.table tbody tr:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
    transition: 100ms;
  }

 
