.ui.icon.menu .item > .icon:not(.dropdown) {
    font-size: 1.7em;
}

body.pushable {
    background: #999999 !important;
}

div.ui.card {
    width: 350px;
}

.ui.cards > .card > .image, .ui.card > .image {
    margin: 40px 0 40px 0;
    background: #fff;
}

.ui.ce-card.cards > .card > .image > img, .ui.ce-card.card > .image > img {
    width: 60%;
    border-radius: 500rem;
    margin: auto;
}

.ui.cards > .card > .content > .header.customHeader:not(.ui), .ui.card > .content > .header.customHeader:not(.ui) {
    font-size: 1.0em;
    font-weight: 600;
}

.ui.secondary.pointing.menu .item {
    margin: 0em 2em 0em 5em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin: 1em;
}

.ui.tiny.image {
    width: 100%; 
}
