.ui {
    &.container.card > .card {
      width: 100%;
      cursor: default;
    }
    &.container.card > .card > .content > .header, &.card > .content > .header {
      display: inline-block;
    }
    &.container.card > .card > .content, &.card > .content {
      padding: 1em 1em 0.5em 0.5em;
    }
    &.container.card > .card > .content > .header:not(.ui), &.card > .content > .header:not(.ui) {
      font-size: 1.1em;
    }
    &.container.card > .card > :last-child, &.card > :last-child {
      margin-bottom: 0.5em;
    }
    &.container.card > .card > .image > img, &.card > .image > img {
      height: 160px;
    }
    &.container.card > .content > .right.floated > .icon.top.dropdown.left > i.bars.icon {
      font-size: 1.5em;
      cursor: pointer;
      color: #504f4f;
    }
    &.container.card > .content > i.cardIcon.icon {
      font-size: 1.5em;
      cursor: default;
      color: #504f4f;
      padding: 0em 0em 0em 0.5em;
    }
    &.container.card > .content > .right.floated > .ui.dropdown .menu > .item {
      font-size: inherit;
    }
    &.container.card > .content.extra.column {
      text-align: center;
      overflow: auto;
    }
    &.container.card > .extra.content > .actualContainer {
      margin: auto;
      width: 100%;
      display: inline-block;
    }
    &.fluid.container.card.customCardClass {
      margin-top: -1em;
    }
    &.fluid.container.card > .cCardGrid.grid > .row > .column > .cardbutton > .segment > .hoverablecontent {
      padding: 1em 1em;
      font-size: 1.2em;
      div.header {
        padding-top: 1em;
      }
    }
    &.fluid.container.card > .cCardGrid.grid > .row > .column > .cardbutton > .segment > .hoverablecontent:hover {
      cursor: pointer;
      background-color: #0c365a;
      color: white;
      i.cardIcon {
        transform: scale(1.3);
        transition: ease 0.3s;
      }
    }
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 1em;
  }