.ui {
    &.menu .item.fulltab, &.secondary.menu .item.fulltab {
        flex: 0;
        flex-grow: 1;
        justify-content: center;
        padding: 3em;
    }
    &.menu.customCenter, &.secondary.menu.customCenter {
        justify-content: center;
    }
    &.menu .item > i.icon {
        font-size: 2em;
    }
    &.segment[class*="bottom attached"] {
        overflow: auto;
    }
}



