.ui {
  &.progress {
    position: relative;
    display: block;
    max-width: 100%;
    border: none;
    margin: 1em 0em 2.5em;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 0em;
    border-radius: 0.28571429rem;
    &:first-child {
      margin: 0em 0em 2.5em;
    }
    &:last-child {
      margin: 0em 0em 1.5em;
    }
    .bar {
      display: block;
      line-height: 1;
      position: relative;
      width: 0%;
      min-width: 2em;
      background: #888888;
      border-radius: 0.28571429rem;
      -webkit-transition: width 0.1s ease, background-color 0.1s ease;
      transition: width 0.1s ease, background-color 0.1s ease;
      > .progress {
        white-space: nowrap;
        position: absolute;
        width: auto;
        font-size: 0.92857143em;
        top: 50%;
        right: 0.5em;
        left: auto;
        bottom: auto;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: none;
        margin-top: -0.5em;
        font-weight: bold;
        text-align: left;
      }
    }
    > .label {
      position: absolute;
      width: 100%;
      font-size: 1em;
      top: 100%;
      right: auto;
      left: 0%;
      bottom: auto;
      color: rgba(0, 0, 0, 0.87);
      font-weight: bold;
      text-shadow: none;
      margin-top: 0.2em;
      text-align: center;
      -webkit-transition: color 0.4s ease;
      transition: color 0.4s ease;
    }
  }
  &.indicating.progress {
    &[data-percent^="1"] .bar,
    &[data-percent^="2"] .bar {
      background-color: #d95c5c;
    }
    &[data-percent^="3"] .bar {
      background-color: #efbc72;
    }
    &[data-percent^="4"] .bar,
    &[data-percent^="5"] .bar {
      background-color: #e6bb48;
    }
    &[data-percent^="6"] .bar {
      background-color: #ddc928;
    }
    &[data-percent^="7"] .bar,
    &[data-percent^="8"] .bar {
      background-color: #b4d95c;
    }
    &[data-percent^="9"] .bar,
    &[data-percent^="100"] .bar {
      background-color: #66da81;
    }
    &[data-percent^="1"] .label,
    &[data-percent^="2"] .label,
    &[data-percent^="3"] .label,
    &[data-percent^="4"] .label,
    &[data-percent^="5"] .label,
    &[data-percent^="6"] .label,
    &[data-percent^="7"] .label,
    &[data-percent^="8"] .label,
    &[data-percent^="9"] .label,
    &[data-percent^="100"] .label {
      color: rgba(0, 0, 0, 0.87);
    }
    &[data-percent="1"] .bar,
    &[data-percent="2"] .bar,
    &[data-percent="3"] .bar,
    &[data-percent="4"] .bar,
    &[data-percent="5"] .bar,
    &[data-percent="6"] .bar,
    &[data-percent="7"] .bar,
    &[data-percent="8"] .bar,
    &[data-percent="9"] .bar {
      background-color: #d95c5c;
    }
    &[data-percent="1"] .label,
    &[data-percent="2"] .label,
    &[data-percent="3"] .label,
    &[data-percent="4"] .label,
    &[data-percent="5"] .label,
    &[data-percent="6"] .label,
    &[data-percent="7"] .label,
    &[data-percent="8"] .label,
    &[data-percent="9"] .label {
      color: rgba(0, 0, 0, 0.87);
    }
    &.success .label {
      color: #1a531b;
    }
  }
  &.progress {
    &.success {
      .bar {
        background-color: #21ba45 !important;
        -webkit-animation: none !important;
        animation: none !important;
        &::after {
          -webkit-animation: none !important;
          animation: none !important;
        }
      }
      > .label {
        color: #1a531b;
      }
    }
    &.warning {
      .bar {
        background-color: #f2c037 !important;
        -webkit-animation: none !important;
        animation: none !important;
        &::after {
          -webkit-animation: none !important;
          animation: none !important;
        }
      }
      > .label {
        color: #794b02;
      }
    }
    &.error {
      .bar {
        background-color: #db2828 !important;
        -webkit-animation: none !important;
        animation: none !important;
        &::after {
          -webkit-animation: none !important;
          animation: none !important;
        }
      }
      > .label {
        color: #912d2b;
      }
    }
  }
  &.active.progress .bar {
    position: relative;
    min-width: 2em;
    &::after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: #ffffff;
      border-radius: 0.28571429rem;
      -webkit-animation: progress-active 2s ease infinite;
      animation: progress-active 2s ease infinite;
    }
  }
  &.disabled.progress {
    opacity: 0.35;
    .bar {
      -webkit-animation: none !important;
      animation: none !important;
      &::after {
        -webkit-animation: none !important;
        animation: none !important;
      }
    }
  }
  &.inverted.progress {
    background: rgba(255, 255, 255, 0.08);
    border: none;
    .bar {
      background: #888888;
      > .progress {
        color: #f9fafb;
      }
    }
    > .label {
      color: #ffffff;
    }
    &.success > .label {
      color: #21ba45;
    }
    &.warning > .label {
      color: #f2c037;
    }
    &.error > .label {
      color: #db2828;
    }
  }
  &.progress {
    &.attached {
      background: transparent;
      position: relative;
      border: none;
      margin: 0em;
      display: block;
      height: 0.2rem;
      padding: 0px;
      overflow: hidden;
      border-radius: 0em 0em 0.28571429rem 0.28571429rem;
      .bar {
        display: block;
        height: 0.2rem;
        padding: 0px;
        overflow: hidden;
        border-radius: 0em 0em 0.28571429rem 0.28571429rem;
        border-radius: 0em;
      }
    }
    &.top.attached {
      top: 0px;
      border-radius: 0.28571429rem 0.28571429rem 0em 0em;
      .bar {
        top: 0px;
        border-radius: 0.28571429rem 0.28571429rem 0em 0em;
        border-radius: 0em;
      }
    }
  }
  &.segment > .ui.attached.progress,
  &.card > .ui.attached.progress {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 100%;
    width: 100%;
  }
  &.segment > .ui.bottom.attached.progress,
  &.card > .ui.bottom.attached.progress {
    top: 100%;
    bottom: auto;
  }
  &.red {
    &.progress .bar {
      background-color: #db2828;
    }
    &.inverted.progress .bar {
      background-color: #ff695e;
    }
  }
  &.orange {
    &.progress .bar {
      background-color: #f2711c;
    }
    &.inverted.progress .bar {
      background-color: #ff851b;
    }
  }
  &.yellow {
    &.progress .bar {
      background-color: #fbbd08;
    }
    &.inverted.progress .bar {
      background-color: #ffe21f;
    }
  }
  &.olive {
    &.progress .bar {
      background-color: #b5cc18;
    }
    &.inverted.progress .bar {
      background-color: #d9e778;
    }
  }
  &.green {
    &.progress .bar {
      background-color: #21ba45;
    }
    &.inverted.progress .bar {
      background-color: #2ecc40;
    }
  }
  &.teal {
    &.progress .bar {
      background-color: #00b5ad;
    }
    &.inverted.progress .bar {
      background-color: #6dffff;
    }
  }
  &.blue {
    &.progress .bar {
      background-color: #2185d0;
    }
    &.inverted.progress .bar {
      background-color: #54c8ff;
    }
  }
  &.violet {
    &.progress .bar {
      background-color: #6435c9;
    }
    &.inverted.progress .bar {
      background-color: #a291fb;
    }
  }
  &.purple {
    &.progress .bar {
      background-color: #a333c8;
    }
    &.inverted.progress .bar {
      background-color: #dc73ff;
    }
  }
  &.pink {
    &.progress .bar {
      background-color: #e03997;
    }
    &.inverted.progress .bar {
      background-color: #ff8edf;
    }
  }
  &.brown {
    &.progress .bar {
      background-color: #a5673f;
    }
    &.inverted.progress .bar {
      background-color: #d67c1c;
    }
  }
  &.grey {
    &.progress .bar {
      background-color: #767676;
    }
    &.inverted.progress .bar {
      background-color: #dcddde;
    }
  }
  &.black {
    &.progress .bar {
      background-color: #1b1c1d;
    }
    &.inverted.progress .bar {
      background-color: #545454;
    }
  }
  &.tiny.progress {
    font-size: 0.85714286rem;
    .bar {
      height: 0.5em;
    }
  }
  &.small.progress {
    font-size: 0.92857143rem;
    .bar {
      height: 1em;
    }
  }
  &.progress {
    font-size: 1rem;
    .bar {
      height: 1.75em;
    }
  }
  &.large.progress {
    font-size: 1.14285714rem;
    .bar {
      height: 2.5em;
    }
  }
  &.big.progress {
    font-size: 1.28571429rem;
    .bar {
      height: 3.5em;
    }
  }
}

@-webkit-keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

// Custom
.metabar {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.metabar {
  &.red {
    color: #db2828;
  }
  &.orange {
    color: #f2711c;
  }
  &.yellow {
    color: #fbbd08;
  }
  &.olive {
    color: #b5cc18;
  }
  &.green {
    color: #21ba45;
  }
  &.teal {
    color: #00b5ad;
  }
  &.blue {
    color: #2185d0;
  }
  &.violet {
    color: #6435c9;
  }
  &.purple {
    color: #a333c8;
  }
  &.pink {
    color: #e03997;
  }
  &.brown {
    color: #a5673f;
  }
  &.grey {
    color: #767676;
  }
  &.black {
    color: #1b1c1d;
  }
}
