/*****************************************/
// SITE.SCSS
/*****************************************/

// @import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.28571429em;
  margin: calc(2rem - 0.14285714em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
  &:first-child {
    margin-top: 0em;
  }
  &:last-child {
    margin-bottom: 0em;
  }
}

a {
  color: #4183c4;
  text-decoration: none;
  &:hover {
    color: #1e70bf;
    text-decoration: none;
  }
}

::-webkit-selection,
::-moz-selection,
::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

textarea::-webkit-selection,
input::-webkit-selection,
textarea::-moz-selection,
input::-moz-selection,
textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

body {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:window-inactive {
      background: rgba(0, 0, 0, 0.15);
    }
    &:hover {
      background: rgba(128, 135, 139, 0.8);
    }
  }
  .ui.inverted {
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.25);
      &:window-inactive {
        background: rgba(255, 255, 255, 0.15);
      }
      &:hover {
        background: rgba(255, 255, 255, 0.35);
      }
    }
  }
}

/*****************************************/
// RESET.SCSS
/*****************************************/

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

img {
  border-style: none;
}

/*****************************************/
// SIDEBAR.SCSS
/*****************************************/

.ui {
  &.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: none;
    transition: none;
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100% !important;
    max-height: 100%;
    border-radius: 0em !important;
    margin: 0em !important;
    overflow-y: auto !important;
    z-index: 102;
    > * {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  &.left.sidebar {
    right: auto;
    left: 0px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  &.right.sidebar {
    right: 0px !important;
    left: auto !important;
    -webkit-transform: translate3d(100%, 0%, 0);
    transform: translate3d(100%, 0%, 0);
  }
  &.top.sidebar,
  &.bottom.sidebar {
    width: 100% !important;
    height: auto !important;
  }
  &.top.sidebar {
    top: 0px !important;
    bottom: auto !important;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  &.bottom.sidebar {
    top: auto !important;
    bottom: 0px !important;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.pushable {
  height: 100%;
  overflow-x: hidden;
  padding: 0em !important;
}

/* Whole Page */

body.pushable {
  background: #545454 !important;
}

.pushable {
  &:not(body) {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    > {
      .ui.sidebar,
      .fixed,
      .pusher:after {
        position: absolute;
      }
    }
  }
  > {
    .fixed {
      position: fixed;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 500ms ease;
      transition: -webkit-transform 500ms ease;
      transition: transform 500ms ease;
      transition: transform 500ms ease, -webkit-transform 500ms ease;
      will-change: transform;
      z-index: 101;
    }
    .pusher {
      position: relative;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      min-height: 100%;
      -webkit-transition: -webkit-transform 500ms ease;
      transition: -webkit-transform 500ms ease;
      transition: transform 500ms ease;
      transition: transform 500ms ease, -webkit-transform 500ms ease;
      z-index: 2;
    }
  }
}

body.pushable > .pusher {
  background: #ffffff;
}

/* Pusher should inherit background from context */

.pushable > .pusher {
  background: inherit;
  &:after {
    position: fixed;
    top: 0px;
    right: 0px;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    will-change: opacity;
    z-index: 1000;
  }
}

.ui.sidebar.menu .item {
  border-radius: 0em !important;
}

.pushable > .pusher.dimmed:after {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}

.ui {
  &.animating.sidebar {
    visibility: visible;
  }
  &.visible.sidebar {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  &.left.visible.sidebar,
  &.right.visible.sidebar,
  &.top.visible.sidebar,
  &.bottom.visible.sidebar {
    -webkit-box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
  }
  &.visible {
    &.left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
      }
    }
    &.right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
      }
    }
    &.top.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(0, 36px, 0);
        transform: translate3d(0, 36px, 0);
      }
    }
    &.bottom.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(0, -36px, 0);
        transform: translate3d(0, -36px, 0);
      }
    }
    &.left.sidebar ~ .ui.visible.right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    &.right.sidebar ~ .ui.visible.left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
  &.thin {
    &.left.sidebar,
    &.right.sidebar {
      width: 150px;
    }
  }
  &[class*="very thin"] {
    &.left.sidebar,
    &.right.sidebar {
      width: 60px;
    }
  }
  &.left.sidebar,
  &.right.sidebar {
    width: 260px;
  }
  &.wide {
    &.left.sidebar,
    &.right.sidebar {
      width: 350px;
    }
  }
  &[class*="very wide"] {
    &.left.sidebar,
    &.right.sidebar {
      width: 475px;
    }
  }
  &.visible {
    &.thin.left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
      }
    }
    &[class*="very thin"].left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(60px, 0, 0);
        transform: translate3d(60px, 0, 0);
      }
    }
    &.wide.left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(350px, 0, 0);
        transform: translate3d(350px, 0, 0);
      }
    }
    &[class*="very wide"].left.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(475px, 0, 0);
        transform: translate3d(475px, 0, 0);
      }
    }
    &.thin.right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
      }
    }
    &[class*="very thin"].right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0);
      }
    }
    &.wide.right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(-350px, 0, 0);
        transform: translate3d(-350px, 0, 0);
      }
    }
    &[class*="very wide"].right.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: translate3d(-475px, 0, 0);
        transform: translate3d(-475px, 0, 0);
      }
    }
  }
  &.overlay.sidebar {
    z-index: 102;
  }
  &.right.overlay.sidebar {
    -webkit-transform: translate3d(100%, 0%, 0);
    transform: translate3d(100%, 0%, 0);
  }
}

.animating.ui.overlay.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.ui {
  &.visible {
    &.overlay.sidebar {
      -webkit-transition: -webkit-transform 500ms ease;
      transition: -webkit-transform 500ms ease;
      transition: transform 500ms ease;
      transition: transform 500ms ease, -webkit-transform 500ms ease;
    }
    &.left.overlay.sidebar,
    &.right.overlay.sidebar,
    &.top.overlay.sidebar,
    &.bottom.overlay.sidebar {
      -webkit-transform: translate3d(0%, 0%, 0);
      transform: translate3d(0%, 0%, 0);
    }
    &.overlay.sidebar ~ {
      .fixed,
      .pusher {
        -webkit-transform: none !important;
        transform: none !important;
      }
    }
  }
}

/*****************************************/
// IMAGE.SCSS
/*****************************************/
kc-image,
.ui {
  .ui {
    &.circular {
      &.images,
      &.image {
        overflow: hidden;
      }
      &.images .image,
      &.image,
      &.images .image > *,
      &.image > * {
        border-radius: 500rem;
      }
    }
    &.fluid {
      &.images,
      &.image {
        display: block;
        width: 100%;
        height: auto;
      }
      &.images {
        img,
        svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      &.image {
        svg,
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

/*****************************************/
// TABLE.SCSS
/*****************************************/

.ui {
  &.table {
    width: 100%;
    background: #ffffff;
    margin: 1em 0em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0.28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    border-collapse: separate;
    border-spacing: 0px;
    &:first-child {
      margin-top: 0em;
    }
    &:last-child {
      margin-bottom: 0em;
    }
    th,
    td {
      -webkit-transition: background 0.1s ease, color 0.1s ease;
      transition: background 0.1s ease, color 0.1s ease;
    }
    thead {
      -webkit-box-shadow: none;
      box-shadow: none;
      th {
        cursor: auto;
        background: #f9fafb;
        text-align: inherit;
        color: rgba(0, 0, 0, 0.87);
        padding: 0.92857143em 0.78571429em;
        vertical-align: inherit;
        font-style: none;
        font-weight: bold;
        text-transform: none;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-left: none;
      }
      tr {
        > th:first-child {
          border-left: none;
        }
        &:first-child > th {
          &:first-child {
            border-radius: 0.28571429rem 0em 0em 0em;
          }
          &:last-child {
            border-radius: 0em 0.28571429rem 0em 0em;
          }
          &:only-child {
            border-radius: 0.28571429rem 0.28571429rem 0em 0em;
          }
        }
      }
    }
    tr {
      td {
        border-top: 1px solid rgba(34, 36, 38, 0.1);
      }
      &:first-child td {
        border-top: none;
      }
    }
    tbody + tbody tr:first-child td {
      border-top: 1px solid rgba(34, 36, 38, 0.1);
    }
    td {
      padding: 0.78571429em 0.78571429em;
      text-align: inherit;
    }
    &[class*="left aligned"],
    [class*="left aligned"] {
      text-align: left;
    }
    &[class*="center aligned"],
    [class*="center aligned"] {
      text-align: center;
    }
    &[class*="right aligned"],
    [class*="right aligned"] {
      text-align: right;
    }
    &[class*="top aligned"],
    [class*="top aligned"] {
      vertical-align: top;
    }
    &[class*="middle aligned"],
    [class*="middle aligned"] {
      vertical-align: middle;
    }
    &[class*="bottom aligned"],
    [class*="bottom aligned"] {
      vertical-align: bottom;
    }
  }
  &.table {
    th.four.wide,
    td.four.wide {
      width: 25%;
    }
    th.ten.wide,
    td.ten.wide {
      width: 62.5%;
    }
  }
  &.basic {
    &.table {
      background: transparent;
      border: 1px solid rgba(34, 36, 38, 0.15);
      -webkit-box-shadow: none;
      box-shadow: none;
      thead,
      tfoot {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      th {
        background: transparent;
        border-left: none;
      }
      tbody tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      td {
        background: transparent;
      }
    }
    &.striped.table tbody tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }
  &[class*="very basic"].table {
    border: none;
    &:not(.sortable):not(.striped) {
      th,
      td {
        padding: "";
      }
      th:first-child,
      td:first-child {
        padding-left: 0em;
      }
      th:last-child,
      td:last-child {
        padding-right: 0em;
      }
      thead tr:first-child th {
        padding-top: 0em;
      }
    }
  }
  &.table {
    font-size: 1em;
  }
}

/*****************************************/
// CUSTOM-SIDEBAR.SCSS
/*****************************************/
body.pushable {
  background: #999999 !important;
}

.ui.secondary.pointing.menu .item {
  margin: 0em 2em 0em 5em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin: 1em;
}

/*****************************************/
// MENU.SCSS
/*****************************************/

.ui {
  &.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0em;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background: #ffffff;
    font-weight: normal;
    border: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    min-height: 2.85714286em;
    &:after {
      content: "";
      display: block;
      height: 0px;
      clear: both;
      visibility: hidden;
    }
    &:first-child {
      margin-top: 0rem;
    }
    &:last-child {
      margin-bottom: 0rem;
    }
    .menu {
      margin: 0em;
    }
    &:not(.vertical) {
      > .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
    .item {
      position: relative;
      vertical-align: middle;
      line-height: 1;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: none;
      padding: 0.92857143em 1.14285714em;
      text-transform: none;
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
      -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
      transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
      transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
      transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
      &:before {
        position: absolute;
        content: "";
        top: 0%;
        right: 0px;
        height: 100%;
        width: 1px;
        background: rgba(34, 36, 38, 0.1);
      }
    }
    > .item:first-child {
      border-radius: 0.28571429rem 0px 0px 0.28571429rem;
    }
  }
  &.menu {
    .dropdown.item:hover,
    .link.item:hover,
    a.item:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.03);
      color: rgba(0, 0, 0, 0.95);
    }
  }
  &.menu {
    .link.item:active,
    a.item:active {
      background: rgba(0, 0, 0, 0.03);
      color: rgba(0, 0, 0, 0.95);
    }
    .active.item {
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.95);
      font-weight: normal;
      -webkit-box-shadow: none;
      box-shadow: none;
      > i.icon {
        opacity: 1;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.95);
      }
    }
  }
  &.vertical.menu .active.item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
  }
  &.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    .item {
      display: block;
      background: none;
      border-top: none;
      border-right: none;
      > {
        .label {
          float: right;
          text-align: center;
        }
        i.icon {
          width: 1.18em;
          float: right;
          margin: 0em 0em 0em 0.5em;
        }
        .label + i.icon {
          float: none;
          margin: 0em 0.5em 0em 0em;
        }
      }
      &:before {
        position: absolute;
        content: "";
        top: 0%;
        left: 0px;
        width: 100%;
        height: 1px;
        background: rgba(34, 36, 38, 0.1);
      }
      &:first-child:before {
        display: none !important;
      }
      > .menu {
        margin: 0.5em -1.14285714em 0em;
      }
    }
    > .item {
      &:first-child {
        border-radius: 0.28571429rem 0.28571429rem 0px 0px;
      }
      &:last-child {
        border-radius: 0px 0px 0.28571429rem 0.28571429rem;
      }
    }
    .menu .item {
      background: none;
      padding: 0.5em 1.33333333em;
      font-size: 0.85714286em;
      color: rgba(0, 0, 0, 0.5);
    }
    .item .menu {
      a.item:hover,
      .link.item:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .menu .item:before {
      display: none;
    }
    .active.item {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 0em;
      -webkit-box-shadow: none;
      box-shadow: none;
      .menu .active.item {
        border-left: none;
      }
    }
    > .active.item {
      &:first-child {
        border-radius: 0.28571429rem 0.28571429rem 0em 0em;
      }
      &:last-child {
        border-radius: 0em 0em 0.28571429rem 0.28571429rem;
      }
      &:only-child {
        border-radius: 0.28571429rem;
      }
    }
  }
}

.ui {
  &.secondary {
    &.menu {
      background: none;
      margin-left: -0.35714286em;
      margin-right: -0.35714286em;
      border-radius: 0em;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      .item {
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        padding: 0.78571429em 0.92857143em;
        margin: 0em 0.35714286em;
        background: none;
        -webkit-transition: color 0.1s ease;
        transition: color 0.1s ease;
        border-radius: 0.28571429rem;
        &:before {
          display: none !important;
        }
      }
      .header.item {
        border-radius: 0em;
        border-right: none;
        background: none transparent;
      }
      .item > img:not(.ui) {
        margin: 0em;
      }
      .dropdown.item:hover,
      .link.item:hover,
      a.item:hover {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.95);
      }
      .active.item {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.95);
        border-radius: 0.28571429rem;
        &:hover {
          -webkit-box-shadow: none;
          box-shadow: none;
          background: rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.95);
        }
      }
    }
  }
  &.secondary {
    &.inverted.menu {
      background-color: transparent;
    }
    &.pointing.menu {
      margin-left: 0em;
      margin-right: 0em;
      border-bottom: 2px solid rgba(34, 36, 38, 0.15);
      .item {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-radius: 0em;
        -ms-flex-item-align: end;
        align-self: flex-end;
        // margin: 0em 0em -2px;
        padding: 0.85714286em 1.14285714em;
        border-bottom-width: 2px;
        -webkit-transition: color 0.1s ease;
        transition: color 0.1s ease;
      }
      .header.item {
        color: rgba(0, 0, 0, 0.85) !important;
      }
      .text.item {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
      .item:after {
        display: none;
      }
      .dropdown.item:hover,
      .link.item:hover,
      a.item:hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.87);
      }
      .dropdown.item:active,
      .link.item:active,
      a.item:active {
        background-color: transparent;
        border-color: rgba(34, 36, 38, 0.15);
      }
      .active {
        &.item {
          background-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-color: #1b1c1d;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.95);
          &:hover {
            border-color: #1b1c1d;
            color: rgba(0, 0, 0, 0.95);
          }
        }
        &.dropdown.item {
          border-color: transparent;
        }
      }
    }
  }
  &.pointing.menu .item:after {
    visibility: hidden;
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: none;
    margin: 0.5px 0em 0em;
    width: 0.57142857em;
    height: 0.57142857em;
    border: none;
    border-bottom: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    z-index: 2;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
  }
  &.pointing.menu .active {
    &.item:after {
      visibility: visible;
    }
    &.dropdown.item:after {
      visibility: hidden;
      display: none;
    }
    &.item {
      .menu .active.item:after {
        display: none;
      }
      &:hover:after,
      &:after,
      &:hover:after {
        background-color: #f2f2f2;
      }
    }
  }
  &.attached {
    &.menu:not(.tabular) {
      border: 1px solid #d4d4d5;
    }
    &.inverted.menu {
      border: none;
    }
    &.tabular.menu {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
  &.mini {
    &.menu {
      font-size: 0.78571429rem;
    }
    &.vertical.menu {
      width: 9rem;
    }
  }
  &.tiny {
    &.menu {
      font-size: 0.85714286rem;
    }
    &.vertical.menu {
      width: 11rem;
    }
  }
  &.small {
    &.menu {
      font-size: 0.92857143rem;
    }
    &.vertical.menu {
      width: 13rem;
    }
  }
  &.menu {
    font-size: 1rem;
  }
  &.vertical.menu {
    width: 15rem;
  }
  &.large {
    &.menu {
      font-size: 1.07142857rem;
    }
    &.vertical.menu {
      width: 18rem;
    }
  }
  &.huge {
    &.menu {
      font-size: 1.21428571rem;
    }
    &.vertical.menu {
      width: 22rem;
    }
  }
  &.big {
    &.menu {
      font-size: 1.14285714rem;
    }
    &.vertical.menu {
      width: 20rem;
    }
  }
  &.massive {
    &.menu {
      font-size: 1.28571429rem;
    }
    &.vertical.menu {
      width: 25rem;
    }
  }
}

/*****************************************/
// TAB.SCSS
/*****************************************/
.ui.tab {
  display: none;
  &.active,
  &.open {
    display: block;
  }
}
