/**
 * $component
 * $name Upload
 */

 @import "base/upload-utils.scss";

 /**
  * $class
  * $name .fs-upload-element
  * $type element
  * $description Target elmement
  */
 
 /**
  * $class
  * $name .fs-upload
  * $type element
  * $description Base widget class
  */
 
 /**
  * $class
  * $name .fs-upload.fs-upload-dropping
  * $type modifier
  * $description Indicates dropping state
  */
 
 /**
  * $class
  * $name .fs-upload.fs-upload-disabled
  * $type modifier
  * $description Indicates disabled state
  */
 
 .fs-upload {
   position: relative;
 
   overflow: hidden;
 
   &,
   &:after,
   &:before,
   *,
   *:after,
   *:before {
     box-sizing: border-box;
     transition: none;
     user-select: none !important;
   }
 
   /**
    * $class
    * $name .fs-upload-input
    * $type element
    * $description Masked Input
    */
 
   &-input {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: -1px;
 
     opacity: 0;
     pointer-events: none;
   }
 
   /**
    * $class
    * $name .fs-upload-target
    * $type element
    * $description Drop target
    */
 
   &-target {
     cursor: pointer;
   }
 
   &-dropping &-target,
   .no-touch &:hover &-target {
   }
 
   // Disabled
 
   &-disabled &-target,
   .no-touch &-disabled:hover &-target {
     cursor: default;
     cursor: not-allowed;
   }
 
   &-disabled &-dropping &-target,
   .no-touch &-disabled &-dropping:hover &-target {
   }
 }

 .fs-upload {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  *, :after, :before, &:after, &:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: none;
    transition: none;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
}

.fs-upload-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1px;
  opacity: 0;
  pointer-events: none;
}

.fs-upload-target {
  cursor: pointer;
}

.fs-upload-disabled .fs-upload-target, .no-touch .fs-upload-disabled:hover .fs-upload-target {
  cursor: default;
  cursor: not-allowed;
}

/*! formstone v1.4.16-1 [viewer.css] 2019-08-06 | GPL-3.0 License | formstone.it */

.fs-viewer-source {
  display: none !important;
}

.fs-upload.fs-light .fs-upload-target {
  background: #fff;
  border: 3px dashed #607d8b;
  border-radius: 2px;
  color: #455a64;
  font-size: 14px;
  margin: 0;
  padding: 25px;
  text-align: center;
  -webkit-transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
  transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
}

.filelists {
  margin: 20px 0;
  h5 {
    margin: 10px 0 0;
  }
  .start_all {
    background: #455a64;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    clear: both;
    display: inline-block;
    font-size: 10px;
    margin: 0 10px 0 0;
    padding: 8px 12px;
    text-transform: uppercase;
  }
  .cancel_all {
    color: red;
    cursor: pointer;
    clear: both;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
  }
}

.filelist {
  margin: 0;
  padding: 10px 0;
  li {
    background: #fff;
    border-bottom: 1px solid #ECEFF1;
    font-size: 14px;
    list-style: none;
    padding: 5px;
    position: relative;
    &:before {
      display: none !important;
    }
    .bar {
      background: #eceff1;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 0;
      -webkit-transition: width 0.1s linear;
      transition: width 0.1s linear;
    }
    .content {
      display: block;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    .file {
      color: #455A64;
      float: left;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;
      white-space: nowrap;
    }
    .progress {
      color: #B0BEC5;
      display: block;
      float: right;
      font-size: 10px;
      text-transform: uppercase;
    }
    .cancel {
      color: red;
      cursor: pointer;
      display: block;
      float: right;
      font-size: 10px;
      margin: 0 0 0 10px;
      text-transform: uppercase;
    }
    &.error {
      .file, .progress {
        color: red;
      }
      .cancel {
        display: none;
      }
    }
  }
}

/* main site demos */