<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<body>

    <div id="searchBar"></div>

    <script>  
    let jsonData = {
        "@title": "",
        "@placeholder": "Search...",
        "@animated": true,
        "@searchIcon": true,
        "@iconName": "icon input",
        "@autoComplete": true,
        "@size": "small",
        "@disabled":false
    }
    </script>
    <script src="./../../js/search.js"></script>
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>new SearchBar(jsonData, document.querySelector("#searchBar"));</script>
</body>
</html>