<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../css/checkbox.css">
    <link rel="stylesheet" href="./../../css/input.css">
    <link rel="stylesheet" href="/shared/css/site.css">
    <link rel="stylesheet" href="/shared/css/reset.css">
</head>

<body>
    
    <div id="input"></div>

    <hr>
    <div class="ui input">
        <input type="text" placeholder="email">
    </div>


    <script src="/components/base.js"></script>
    <script src="./index.js"></script>

</body>

</html>