<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body>

    <div id="input"></div>

    <div class="ui input">
        <input type="text" name="example" placeholder="enter name">
    </div>

    <script>
        let jsonData = {
            "@title": "Email",
            "@type": "toggle",
            "@placeholder": "Enter Email",
            "@maxlength": "",
            "@value": "",
            "@checked": false,
            "@autofocus": false,
            "@required": false,
            "@disabled": true
        }
    </script>
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>new Input(jsonData, document.querySelector("#input"));</script>

</body>

</html>