<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div id='view'></div>

    <script>
        const jsonData = {
            '@id': 'imageCropperOne',
            '@imgSrc': 'http://localhost:8080/assets/images/nan.jpg',
            '@modal': false,
            '@displayPreview': true,
            '@hasServerCallback': false,
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/imagecropper/index.min.js"></script>
    <script>const imageCropper = new ImageCropper(jsonData, document.getElementById('view'))</script>
</body>

</html>