<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="list"></div>

    <script>
        const jsonData = {
            "@id": "listOne",
            "@title": "fruitlist",
            "@listType": "unordered",
            "@icon": "arrow",
            "@listOrientation": "vertical",
            "@hrefLink": true,
            "@animated": false,
            "@divider": true,
            "@celled": true,
            ">": [{
                "@tag": "item",
                "@id": 1,
                "@text": "Apple",
                "@icon": "folder",
                "@imageSrc": "/assets/images/kiwi.svg",
                "@description": "I ate it a few mins ago"
            }, {
                "@tag": "item",
                "@id": 2,
                "@text": "Banana",
                "@icon": "folder",
                "@imageSrc": "/assets/images/nan.jpg",
                "@description": "I ate it 10 mins ago",
                ">": [{
                    "@tag": "subitem",
                    "@id": 21,
                    "@text": "Red Banana",
                    "@icon": "user",
                    "@description": "I ate it a few mins ago"
                }, {
                    "@tag": "subitem",
                    "@id": 22,
                    "@text": "Yellow Banana",
                    "@icon": "file",
                    "@description": "I ate it a few mins ago",
                    ">": [{
                        "@tag": "subitem",
                        "@id": 221,
                        "@text": "Red Banana",
                        "@icon": "file",
                        "@description": "I ate it 2 mins ago"
                    }, {
                        "@tag": "subitem",
                        "@id": 222,
                        "@text": "Yellow Banana",
                        "@icon": "file",
                        "@description": "I ate it 3 mins ago"
                    }]
                }]
            }, {
                "@tag": "item",
                "@id": 3,
                "@text": "Orange",
                "@icon": "folder",
                "@imageSrc": "/assets/images/tom.jpg",
                "@description": "I ate it 20 mins ago",
                ">": [{
                    "@tag": "subitem",
                    "@id": 31,
                    "@text": "Red Orange",
                    "@icon": "file",
                    "@description": "I ate it a few mins ago"
                }, {
                    "@tag": "subitem",
                    "@id": 32,
                    "@text": "Yellow Orange",
                    "@icon": "file",
                    "@description": "I ate it a few mins ago"
                }, {
                    "@tag": "subitem",
                    "@id": 33,
                    "@text": "Green Orange",
                    "@icon": "file",
                    "@description": "I ate it a few mins ago"
                }]
            }, {
                "@tag": "item",
                "@id": 4,
                "@text": "Cashew",
                "@imageSrc": "/assets/images/kiwi.svg",
                "@icon": "file",
                "@description": "I ate it 30 mins ago"
            }, {
                "@tag": "item",
                "@id": 5,
                "@text": "Mango",
                "@imageSrc": "/assets/images/nan.jpg",
                "@icon": "folder",
                "@description": "I ate it an hour ago"
            }]
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/list/index.min.js"></script>
    <script>
    let list = new List(jsonData, document.querySelector('#list'))
    // setTimeout(() => {
    //     list.appendSiblingItem('listOne', 'hello');
    // }, 2000)
    </script>
</body>

</html>