<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="table"></div>

    <script>
        const progressBar = {
            "@id": "ctableProgressOne",
            "@title": "first progress bar",
            "@label": "",
            "@size": "tiny",
            "@percentText": true,
            "@state": "active",
            "@type": "indicating",
            "@content": "progress",
            "@color": "green",
            "@data-value": 30,
            "@data-total": 50
        }

        const avatarDataOne = {
            "@id": "tableImageOne",
            "@type": "avatar",
            "@avatarName": "",
            "@href": "https://google.com",
            "@src": "https://robohash.org/one.jpg?size=64x64",
            "@size": "mini",
        }

        const avatarDataTwo = {
            "@id": "tableImageTwo",
            "@type": "avatar",
            "@avatarName": "",
            "@href": "https://google.com",
            "@src": "https://robohash.org/two.jpg?size=64x64",
            "@size": "mini",
        }

        const avatarDataThree = {
            "@id": "tableImageThree",
            "@type": "avatar",
            "@avatarName": "",
            "@href": "https://google.com",
            "@src": "https://robohash.org/three.jpg?size=64x64",
            "@size": "mini",
        }

        const avatarDataFour = {
            "@id": "tableImageFour",
            "@type": "avatar",
            "@avatarName": "",
            "@href": "https://google.com",
            "@src": "https://robohash.org/four.jpg?size=64x64",
            "@size": "mini",
        }

        const avatarDataFive = {
            "@id": "tableImageFive",
            "@type": "avatar",
            "@avatarName": "",
            "@href": "https://google.com",
            "@src": "https://robohash.org/five.jpg?size=64x64",
            "@size": "mini",
        }
        
        const labelData = {
            "@id": "tableLabelOne",
            "@title": "label",
            "@labelType": "horizontal",
            "@labelPosition": "left",
            "@icon": "",
            "@text": "Cancelled",
            "@color": "red"   
        }

        const aLabelData = {
            "@id": "tableLabelOne",
            "@title": "label",
            "@labelType": "horizontal",
            "@labelPosition": "left",
            "@icon": "",
            "@text": "Pending",
            "@color": "pink"   
        }

        const bLabelData = {
            "@id": "tableLabelOne",
            "@title": "label",
            "@labelType": "horizontal",
            "@labelPosition": "left",
            "@icon": "",
            "@text": "On Hold",
            "@color": "blue"   
        }

        const cLabelData = {
            "@id": "tableLabelOne",
            "@title": "label",
            "@labelType": "horizontal",
            "@labelPosition": "left",
            "@icon": "",
            "@text": "In Progress",
            "@color": "yellow"   
        }

        const dLabelData = {
            "@id": "tableLabelOne",
            "@title": "label",
            "@labelType": "horizontal",
            "@labelPosition": "left",
            "@icon": "",
            "@text": "Completed",
            "@color": "green"   
        }

        const attachedButtons = {
            "@id": "buttonOne",
            "@buttonStyle": "attached",
            "@fluid": true,
            "@rounded": false,
            ">": [{
                "@tag": "button",
                "@buttonText": "Hire",
                "@color": "blue",
                "@size": "tiny",
                "@linkedUrl": "https://www.google.com",
                "@clientCallbacks": function execute() {
                    if (this['@linkedUrl'] !== undefined) {
                        window.location.href = this['@linkedUrl'];
                    }
                    // type code to execute
                },
            }, {
                "@tag": "button",
                "@buttonText": "Fire",
                "@color": "blue",
                "@size": "tiny",
                "@linkedUrl": "#warranty",
                "@clientCallbacks": function execute() {
                    if (this['@linkedUrl'] !== undefined) {
                        window.location.href = this['@linkedUrl'];
                    }
                    // type code to execute
                },
            }]

        }
        
        const jsonData = {
            "@id": "complexTableOne",
            "@title": "People Of The World",
            "@isInverted": false,
            "@color": "blue",
            ">": [{
                "@tag": "columns-definitions",
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@title": "S/No"
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@title": "Avatar"
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@title": "Name"
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@title": "Company"
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@title": "Status"
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@title": "Due Date"
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@title": "Target Achievement"
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@title": "Actions"
                }]
            }, {
                "@tag": "row",
                "@id": '',
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@value": "1",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@value": "",
                    "@component-tag": "image",
                    "@component-data": avatarDataOne,
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@value": "James Brown",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@value": "Micro Electronics",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@value": "",
                    "@component-tag": "label",
                    "@component-data": labelData,
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@value": "15 February",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@value": "",
                    "@component-tag": "progressBar",
                    "@component-data": progressBar,
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@value": "",
                    "@component-tag": "button",
                    "@component-data": attachedButtons,
                }]
            }, {
                "@tag": "row",
                "@id": '',
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@value": "2",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@value": "",
                    "@component-tag": "image",
                    "@component-data": avatarDataTwo,
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@value": "Justin Synk",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@value": "PixelCloud",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@value": "",
                    "@component-tag": "label",
                    "@component-data": aLabelData,
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@value": "31 June",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@value": "",
                    "@component-tag": "progressBar",
                    "@component-data": progressBar,
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@value": "",
                    "@component-tag": "button",
                    "@component-data": attachedButtons,
                }]
            }, {
                "@tag": "row",
                "@id": '',
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@value": "3",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@value": "",
                    "@component-tag": "image",
                    "@component-data": avatarDataThree,
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@value": "Hugh Bruno",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@value": "System Electronics",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@value": "",
                    "@component-tag": "label",
                    "@component-data": bLabelData,
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@value": "29 February",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@value": "",
                    "@component-tag": "progressBar",
                    "@component-data": progressBar,
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@value": "",
                    "@component-tag": "button",
                    "@component-data": attachedButtons,
                }]
            }, {
                "@tag": "row",
                "@id": '',
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@value": "4",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@value": "",
                    "@component-tag": "image",
                    "@component-data": avatarDataFour,
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@value": "Juan Franc",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@value": "Advanced Systems",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@value": "",
                    "@component-tag": "label",
                    "@component-data": cLabelData,
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@value": "12 December",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@value": "",
                    "@component-tag": "progressBar",
                    "@component-data": progressBar,
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@value": "",
                    "@component-tag": "button",
                    "@component-data": attachedButtons,
                }]
            }, {
                "@tag": "row",
                "@id": '',
                ">": [{
                    "@tag": "column",
                    "@table-index": 1,
                    "@value": "5",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 2,
                    "@value": "",
                    "@component-tag": "image",
                    "@component-data": avatarDataFive,
                }, {
                    "@tag": "column",
                    "@table-index": 3,
                    "@value": "Williams Blake",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 4,
                    "@value": "Micro Engineering",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 5,
                    "@value": "",
                    "@component-tag": "label",
                    "@component-data": dLabelData,
                }, {
                    "@tag": "column",
                    "@table-index": 6,
                    "@value": "12 July",
                    "@component-tag": "",
                    "@component-data": "",
                }, {
                    "@tag": "column",
                    "@table-index": 7,
                    "@value": "",
                    "@component-tag": "progressBar",
                    "@component-data": progressBar,
                }, {
                    "@tag": "column",
                    "@table-index": 8,
                    "@value": "",
                    "@component-tag": "button",
                    "@component-data": attachedButtons,
                }]
            }]
        }
    </script>
    <!-- js dependencies -->
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/complex-table/index.min.js"></script>
    <script>
        const tableId = document.getElementById('table');
        let table = new ComplexTable(jsonData, document.querySelector("#table"));
        // setTimeout(() => table.appendRow(appendRowData), 2500);
        
        // tableId.addEventListener('dblclick', (event) => {
        //     table.deleteRow(Table.getRow(event));
        // });
        // tableId.addEventListener('dblclick', (event) => {
        //     let cellId = Table.getCellId(event);
        //     table.editRow({ id: cellId, content: 'Hello New Content' });
        // });
    </script>

</body>

</html>