<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id='grid'></div>

    <script>
        const accordion = {
            "@id": "accordionOne",
            "@title": "Sample",
            "@displayStyle": "styled",
            ">": [{
                "@tag": "menu",
                "@title": "What is a dog?",
                "@content": "A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found"
                    + " as a welcome guest in many households across the world."
            }, {
                "@tag": "menu",
                "@title": "What kinds of dogs are there?",
                "@content": "There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of"
                    + " dog that they find to be compatible with their own lifestyle and desires from a companion."
            }, {
                "@tag": "menu",
                "@title": "How do you acquire a dog?",
                "@content": "Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or"
                    + " shelters. A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to"
                    + " assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog"
                    + " from a shelter, helps give a good home to a dog who may not find one so readily."
            }]
        }

        const table = {
            "@id": "tableOne",
            "@title": "People Of The World",
            "@tableStyle": "inbox",
            "@isHoverable": true,
            "@isResponsive": true,
            "@textAlign": "center",
            "@isStriped": true,
            "@hasBorder": false,
            "@singleLine": true,
            "@isInverted": false,
            "@color": "blue",
            "@isDataTable": false,
            "@isEditableTable": false,
            "@isFixed": true,
            ">": [{
                "@tag": "columns-definitions",
                ">": [{
                    "@tag": "column",
                    "@title": "name"
                }, {
                    "@tag": "column",
                    "@title": "age"
                }, {
                    "@tag": "column",
                    "@title": "job"
                }, {
                    "@tag": "column",
                    "@title": "salary"
                }, {
                    "@tag": "column",
                    "@title": "description"
                }]
            }, {
                "@tag": "row",
                "@id": 123,
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }]
            }, {
                "@tag": "row",
                "@id": 124,
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }]
            }, {
                "@tag": "row",
                "@id": 125,
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }]
            }, {
                "@tag": "row",
                "@id": 123,
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }]
            }, {
                "@tag": "row",
                "@id": 124,
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }]
            }, {
                "@tag": "row",
                "@id": 125,
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }]
            }, {
                "@tag": "row",
                "@id": 123,
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }]
            }, {
                "@tag": "row",
                "@id": 124,
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }]
            }, {
                "@tag": "row",
                "@id": 125,
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }]
            }]
        }

        const newsFeed = {
            "@id": "feedOne",
            "@title": "feed",
            ">": [{
                "@tag": "activityFeed",
                "@userId": "134",
                "@userName": "Eliot Fu",
                "@activity": "added you as a friend",
                "@time": "1 hour ago",
                "@avatarImage": "/assets/images/tom.jpg",
            }, {
                "@tag": "newsFeed",
                "@userId": "136",
                "@userName": "Jacob Fu",
                "@time": "2 hours ago",
                "@activity": "updated his status",
                "@statusText": "Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.",
                "@avatarImage": "/assets/images/tom.jpg",
                "@statusImage": [{
                    '@tag': 'image',
                    '@id': 'imageOne',
                    '@src': '/assets/images/tom.jpg'
                }, {
                    '@tag': 'image',
                    '@id': 'imageTwo',
                    '@src': '/assets/images/nan.jpg'
                }]
            }, {
                "@tag": "activityFeed",
                "@userId": "138",
                "@userName": "Greg Junior",
                "@activity": "Travelled to Spain",
                "@time": "3 hours ago",
                "@avatarImage": "/assets/images/tom.jpg",
            }]
        }

        const navBar = {
            "@id": "navbarId",
            "@title": "",
            "@navBarType": "standard",
            "@orientation": "",
            ">": [{
                "@tag": "group",
                "@position": "left",
                ">": [{
                    "@tag": "item",
                    "@title": "Home",
                    "@iconName": "home",
                    "@iconColor": "red",
                    "@badge": '',
                    "@iconOnly": false,
                    "@iconPosition": "right",
                    "@url": ""
                }, {
                    "@tag": "item",
                    "@title": "News",
                    "@iconOnly": true,
                    "@iconName": "newspaper",
                    "@iconColor": "green",
                    "@iconPosition": "right",
                    "@url": "",
                    ">": [{
                        "@tag": "item",
                        "@title": "Sports News",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Football News",
                        "@groupName": "Sports",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Sports News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": "",
                            "@badge": ''
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Sports News",
                                "@url": "",
                                "@badge": '',
                            }, {
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Tennis News",
                                "@url": "",
                                ">": [{
                                    "@tag": "item",
                                    "@title": "Sports News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@badge": '',
                                    "@title": "Football News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "BasketBall News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Golf News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Tennis News",
                                    "@url": ""
                                }]
                            }]
                        }]
                    }, {
                        "@tag": "item",
                        "@title": "BasketBall News",
                        "@url": "",
                        "@badge": '',
                    }, {
                        "@tag": "item",
                        "@title": "Golf News",
                        "@groupName": "External",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Tennis News",
                        "@groupName": "Sports",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Waterball News",
                        "@groupName": "External",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }]
                        }]
                    }]
                }, {
                    "@tag": "item",
                    "@title": "About",
                    "@iconOnly": "true | false",
                    "@iconName": "",
                    "@iconPosition": "left",
                    "@onClickEvent": () => {
                        console.log('event called');
                    },
                    "@url": ""
                }]
            }]
        }

        const annotationChart = {
            '@id': 'annotationChartId',
            '@title': 'Company Performance',
            '@chartWidth': '',
            '@chartHeight': 500,
            '@enableInteractivity': true, //true (default) || false
            '@forceIFrame': false,
            '@displayZoomButtons': false,
            '@displayAnnotation': true,
            '@displayExactValues': true,
            '@colors': ['yellow', 'pink'],
            '@displayRangeSelector': false,
            '@thickness': 2,
            '@fill': 50, // Between 0 to 100
            '@columns': [{
                '@tag': 'column',
                '@type': 'date',
                '@title': 'Date',
            }, {
                '@tag': 'column',
                '@type': 'number',
                '@title': 'Kepler-22b mission',
            }, {
                '@tag': 'column',
                '@type': 'string',
                '@title': 'Kepler title',
            }, {
                '@tag': 'column',
                '@type': 'string',
                '@title': 'Kepler text',
            }, {
                '@tag': 'column',
                '@type': 'number',
                '@title': 'Gliese 163 mission',
            }, {
                '@tag': 'column',
                '@type': 'string',
                '@title': 'Gliese title',
            }, {
                '@tag': 'column',
                '@type': 'string',
                '@title': 'Gliese text',
            }],
            '>': [
                [new Date(2314, 2, 15), 12400, undefined, undefined, 10645, undefined, undefined],
                [new Date(2314, 2, 16), 24045, 'Lalibertines', 'First encounter', 12374, undefined, undefined],
                [new Date(2314, 2, 17), 35022, 'Lalibertines', 'They are very tall', 15766, 'Gallantors', 'First Encounter'],
                [new Date(2314, 2, 18), 12284, 'Lalibertines', 'Attack on our crew!', 34334, 'Gallantors', 'Statement of shared principles'],
                [new Date(2314, 2, 19), 8476, 'Lalibertines', 'Heavy casualties', 66467, 'Gallantors', 'Mysteries revealed'],
                [new Date(2314, 2, 20), 0, 'Lalibertines', 'All crew lost', 79463, 'Gallantors', 'Omniscience achieved']
            ]
        }

        const lineChart = {
            '@id': 'lineChartId',
            '@title': 'Sample Bar Title For Testing',
            '@type': 'classic chart',
            '@complexity': 'simple', //complex || simple
            '@subtitle': 'Sample subtitle data',
            '@chartWidth': '',
            '@chartHeight': '',
            '@width': '',
            '@height': 400,
            '@titleTextStyle': {
                '@color': '',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
            },
            '@fontSize': '',
            '@fontName': '',
            '@curveType': 'none',
            '@colors': ['#1b9e77', '#d95f02', '#7570b3'],
            '@backgroundColor': '',
            '@forceIFrame': false,
            '@lineWidth': 4,
            '@legendPosition': 'none',
            '@orientation': 'horizontal', //horizontal(default) || vertical
            '@selectionMode': 'single', //single(default) || multiple
            '@pointShape': '',
            '@enableInteractivity': 'true', //true (default) || false
            '@interpolateNulls': false,
            '@pointSize': '',
            '@hAxis': {
                '@title': 'Total',
                '@color': '#333',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
                '@maxValue': '',
                '@minValue': '',
            },
            '@vAxis': {
                '@title': 'Year',
                '@color': '#333',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
                '@maxValue': '',
                '@minValue': '',
            },
            '@animateChart': true,
            '@animationDuration': 2000,
            '@transitionStyle': 'linear',
            '@columns': [{
                '@tag': 'column',
                '@type': 'number',
                '@title': 'Animals'
            }, {
                '@tag': 'column',
                '@type': 'number',
                '@title': 'Dogs'
            }, {
                '@tag': 'column',
                '@type': 'number',
                '@title': 'Cats'
            }],
            '>': [
                ['Year', 'Sales', 'Expenses', 'Profit'],
                ['2017', 1030, 540, 350],
                ['2016', 660, 1120, 300],
                ['2015', 1170, 460, 250],
                ['2014', 1000, 400, 200],
            ]
        }

        const steppedAreaChart = {
            '@id': 'steppedAreaChartId',
            '@title': 'The decline of \'The 39 Steps\'',
            '@legendPosition': 'top',
            '@stacked': 'true', // false || relative || absolute/true(default) || percent
            '@titleTextStyle': {
                '@color': 'black',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
            },
            '@fontSize': '',
            '@fontName': '',
            '@width': '',
            '@height': '',
            '@chartWidth': '',
            '@chartHeight': 400,
            '@colors': ['#4374E0', '#53A8FB'],
            '@enableInteractivity': true, //true (default) || false
            '@forceIFrame': false,
            '@selectionMode': 'single', //single(default) || multiple
            '@animateChart': true,
            '@animationDuration': 2000,
            '@transitionStyle': 'linear',
            '@connectSteps': false,
            '@areaOpacity': 0.3,
            '@orientation': 'horizontal', //horizontal || vertical
            '@hAxis': {
                '@title': 'Director',
                '@color': '#333',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
                '@maxValue': '',
                '@minValue': '',
            },
            '@vAxis': {
                '@title': 'Accumulated Rating',
                '@color': '#333',
                '@fontName': '',
                '@fontSize': '',
                '@bold': '',
                '@italic': '',
                '@maxValue': '',
                '@minValue': '',
            },
            '>': [
                ['Director (Year)', 'Rotten Tomatoes', 'IMDB'],
                ['Alfred Hitchcock (1935)', 8.4, 7.9],
                ['Ralph Thomas (1959)', 6.9, 6.5],
                ['Don Sharp (1978)', 6.5, 6.4],
                ['James Hawes (2008)', 4.4, 6.2],
            ]
        }

        const pieChart = {
            '@id': 'piechartId',
            '@title': 'How Much Pizza I Ate Last Night',
            '@legendPosition': null,
            '@3D': false,
            '@donutChart': true,
            '@donutChartRadius': 0.3,
            '@backgroundColor': 'white',
            '@subject': 'Topping',
            '@chartheight': 400,
            '@chartwidth': '',
            '@width': '',
            '@height': '',
            '@subjectType': 'string',
            '@subjectValue': 'Slices',
            '@subjectValueType': 'number',
            '@forceIFrame': false,
            '@reverseCategories': true,
            '@selectionMode': 'multiple', //single(default) || multiple
            '@pieSliceTextStyle': {
                '@textColor': 'white',
                '@fontName': '',
                '@fontSize': '',
            },
            '@enableInteractivity': true, //true (default) || false
            '@animateChart': true,
            '@animationDuration': 2000,
            '@transitionStyle': 'linear',
            '>': [
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 2],
                ['Zucchini', 2],
                ['Pepperoni', 2],
            ]
        }

        const jsonData = {
            '@title': 'grid',
            '@equalWidth': true,
            '@stackable': true,
            '>': [{
                '@tag': 'row',
                '>': [{
                    '@tag': 'column',
                    '@segmented': false,
                    '@columnId': 10,
                    '@columnWidth': '',
                    '@tagName': 'navbar',
                    '@tagData': navBar,
                }]
            }, {
                '@tag': 'row',
                '>': [{
                    '@tag': 'column',
                    '@segmented': false,
                    '@columnId': 10,
                    '@columnWidth': '',
                    '@tagName': 'annotationChart',
                    '@tagData': annotationChart,
                }]
            }, {
                '@tag': 'row',
                '>': [{
                    '@tag': 'column',
                    '@segmented': true,
                    '@columnId': 123,
                    '@columnWidth': 4,
                    '@tagName': 'pieChart',
                    '@tagData': pieChart,
                }, {
                    '@tag': 'column',
                    '@segmented': true,
                    '@columnId': 1234,
                    '@columnWidth': 4,
                    '@tagName': 'steppedAreaChart',
                    '@tagData': steppedAreaChart
                }, {
                    '@tag': 'column',
                    '@segmented': true,
                    '@columnId': 1,
                    '@columnWidth': 4,
                    '@tagName': 'lineChart',
                    '@tagData': lineChart,
                }]
            },
            {
                '@tag': 'row',
                '>': [{
                    '@tag': 'column',
                    '@segmented': true,
                    '@columnId': 1,
                    '@columnWidth': 4,
                    '@tagName': 'feed',
                    '@tagData': newsFeed,
                }, {
                    '@tag': 'column',
                    '@segmented': true,
                    '@columnId': 12,
                    '@columnWidth': 4,
                    '@tagName': 'table',
                    '@tagData': table
                }]
            },
            {
                '@tag': 'row',
                '>': [{
                    '@tag': 'column',
                    '@segmented': false,
                    '@columnId': 23,
                    '@columnWidth': 4,
                    '@tagName': 'accordion',
                    '@tagData': accordion
                }, {
                    '@tag': 'column',
                    '@segmented': false,
                    '@columnId': 234,
                    '@columnWidth': 4,
                    '@tagName': 'accordion',
                    '@tagData': accordion,
                }, {
                    '@tag': 'column',
                    '@segmented': false,
                    '@columnId': 2345,
                    '@columnWidth': 4,
                    '@tagName': 'accordion',
                    '@tagData': accordion
                }]
            }]
        }

    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/grid/index.min.js"></script>
    <script>new Grid(jsonData, document.querySelector('#grid'))</script>
</body>

</html>