<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

    <script>
        const jsonData = {
            "@id": "chartCard",
            "@title": "Performance",
            ">": [{
                "@tag": "card",
                "@id": "chartCardOne",
                "@title": "Income",
                "@currency": "$",
                "@presentValue": "5,456",
                "@indicatorIcon": "up",
                "@percentageValue": "+15%",
            }, {
                "@tag": "card",
                "@id": "chartCardTwo",
                "@title": "Expenses",
                "@currency": "$",
                "@presentValue": "4,764",
                "@indicatorIcon": "down",
                "@percentageValue": "-8%",
            }, {
                "@tag": "card",
                "@id": "chartCardThree",
                "@title": "Spendings",
                "@currency": "$",
                "@presentValue": "1.5M",
                "@indicatorIcon": "up",
                "@percentageValue": "+15%",
            }, {
                "@tag": "card",
                "@id": "chartCardFour",
                "@title": "Expenses",
                "@currency": "$",
                "@presentValue": "31,564",
                "@indicatorIcon": "down",
                "@percentageValue": "-76%",
            }]
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/chart-card/index.min.js"></script>
    <script>new ChartCard(jsonData, document.querySelector("#view"));</script>

</body>

</html>