<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./../../css/table.css">
    <link rel="stylesheet" href="./../../shared/css/site.css">
    <link rel="stylesheet" href="./../../shared/css/reset.css">
</head>
<body> 
    <div id="table"></div>
    
    <!-- jquery -->
    <script src="./../../shared/js/jquery-3.4.1.min.js"></script>
    <!-- js dependencies -->
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>new Table().render(document.querySelector("#table"));</script>
</body>
</html>  