<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="segment"></div>
    <script>
        const jsonData = {
            "@id": "segmentOne",
            "@title": "segment",
            "@circular": false,
            "@grouped": false,
            "@raised": false,
            "@stacked": false,
            "@orientation": "",
            "@piled": true,
            "@compact": false,
            "@color": "blue",
            "@content": ""
        }
    </script>
    <script>
        // This is a polyfill that allows components to do
        // module.exports = ... in the browser
        window.module = {
            exports: {}
        }
    </script>
    <script src="/components/base.min.js"></script>
    <script src="/components/segment/index.min.js"></script>
    <script>new Segment(jsonData, document.querySelector('#segment'));</script>
</body>

</html>