<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'schedulerOne',
        '>': [{
            title: 'All Day Event',
            start: '2019-08-01',
        },
        {
            title: 'Long Event',
            start: '2019-08-07',
            end: '2019-08-10',
        },
        {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-08-09T16:00:00',
        },
        {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-09-16T16:00:00',
        },
        {
            title: 'Conference',
            start: '2019-08-11',
            end: '2019-09-13',
        },
        {
            title: 'Meeting',
            start: '2019-08-12T10:30:00',
            end: '2019-08-12T12:30:00',
        },
        {
            title: 'Lunch',
            start: '2019-08-12T12:00:00',
        },
        {
            title: 'Meeting',
            start: '2019-08-12T14:30:00',
        },
        {
            title: 'Happy Hour',
            start: '2019-08-12T17:30:00',
        },
        {
            title: 'Lunch',
            start: '2019-08-12T12:00:00',
        },
        {
            title: 'Meeting',
            start: '2019-08-12T14:30:00',
        },
        {
            title: 'Happy Hour',
            start: '2019-08-12T17:30:00',
        },
        {
            title: 'Dinner',
            start: '2019-08-12T20:00:00',
        },
        {
            title: 'Birthday Party',
            start: '2019-08-13T07:00:00',
        },
        {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2019-09-28',
        }]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/scheduler/index.min.js"></script>
<script>new Scheduler(jsonData, document.querySelector('#view'));</script>

</html>