<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'intervalChart',
        '@title': 'Company Performance',
        '@legendPosition': 'top',
        '@fontSize': '',
        '@fontName': '',
        '@interval': {
            '@style': 'line', // line || bars || boxes || sticks || points || area
            '@lineWidth': '',
            '@barWidth': '',
            '@pointSize': '',
        },
        '@chartWidth': 800,
        '@chartHeight': 400,
        '@width': 900,
        '@height': 500,
        '@lineWidth': 4,
        '@curveType': 'function',
        '@enableInteractivity': true, //true (default) || false
        '@forceIFrame': false,
        '@color': undefined,
        '@animateChart': true,
        '@animationDuration': 2000,
        '@transitionStyle': 'linear',
        '@columns': [{
            '@tag': 'column',
            '@id': 'i0',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '#a84995',
            '@lineWidth': 4,
        }, {
            '@tag': 'column',
            '@id': 'i1',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '',
            '@lineWidth': 2,
        }, {
            '@tag': 'column',
            '@id': 'i2',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '#8a2074',
            '@lineWidth': 2,
        }, {
            '@tag': 'column',
            '@id': 'i3',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '#b1974f',
            '@lineWidth': 3,
        }, {
            '@tag': 'column',
            '@id': 'i4',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '#d786df',
            '@lineWidth': 4,
        }, {
            '@tag': 'column',
            '@id': 'i5',
            '@type': 'number',
            '@role': 'interval',
            '@style': '',
            '@color': '#d786df',
            '@lineWidth': 4,
        }],
        '>': [
            [1, 100, 90, 110, 85, 96, 104, 120],
            [2, 120, 95, 130, 90, 113, 124, 150],
            [3, 130, 105, 140, 100, 117, 133, 139],
            [4, 90, 85, 95, 85, 88, 92, 95],
            [5, 70, 74, 63, 67, 69, 70, 72],
            [6, 30, 39, 22, 21, 28, 34, 40],
            [7, 80, 77, 83, 70, 77, 85, 90],
            [8, 100, 90, 110, 85, 95, 102, 110],
            [9, 50, 87, 93, 40, 87, 45, 70],
            [10, 100, 85, 95, 85, 88, 92, 95],
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-interval/index.min.js"></script>
<script>new IntervalChart(jsonData, document.querySelector('#view'));</script>

</html>