<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../css/dropdown.css" type='text/css'>
    <link rel="stylesheet" href="./../../css/icon.css" type='text/css'>
    <link rel="stylesheet" href="./../../shared/css/extra_colors.css">
    <link rel="stylesheet" href="./../../shared/css/semantic.css">
    <link rel="stylesheet" href="./../../shared/css/ionicons.css">
    <link rel="stylesheet" href="./custom.css">
</head>

<body>

    <div id="navBar"></div>


    <script src="./../../shared/js/jquery-3.4.1.min.js"></script>
    <script src="./../../shared/js/semantic.js"></script>
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>new NavBar().render(document.querySelector("#navBar"));</script>

</body>

</html>