<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <div id='view'></div>
  
  <script>
    const jsonData = {
      '@id': 'viewerOne',
      '@pdfSrc': 'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf',
    }
  </script>
  <script src="/assets/js/polyfills/index.min.js"></script>
  <script src="/components/base.min.js"></script>
  <script src="/components/photocam/index.min.js"></script>
  <script>const photoCam = new PhotoCam(jsonData, document.getElementById('view'))</script>

</body>

</html>