
// Note: Any update done here should also be copied to the "getInlineStylesForVisibility" 
// method in the component .js file

.lightning-transition-in {
    visibility: visible;
    transition: visibility 0.3s ease-in;
}

.lightning-transition-out {
    visibility: hidden;
    transition: visibility 0.3s ease-in;
}