<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>
 
<script>
    const jsonData = {
        '@id': 'carouselOne',
        '@imagesInView': 2,
        '@loop': true, 
        '@mode': 'slide',
        '@speed': 1000,
        '@easing': 'ease-in-out',
        '@pause': 5000,
        '@control': true,
        '@gallery': false,
        '>': [{
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image5.jpg',
            '@frontImage': true,
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image6.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image7.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image8.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image9.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': 'https://www.google.com',
            '@imageSrc': '/assets/images/3dcarousel/image10.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image11.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image12.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': '/assets/images/3dcarousel/image13.jpg'
        }, {
            '@tag': 'image',
            '@imageLink': 'https://www.google.com',
            '@imageSrc': '/assets/images/3dcarousel/image5.jpg'
        }]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/carousel3d/index.min.js"></script>
<script>new Carousel3D(jsonData, document.querySelector('#view'));</script>
</html>