<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>
 
<script>
    const jsonData = {
        '@id': 'carouselOne',
        '@imagesInView': '2',
        '@loop': true, 
        '@mode': 'slide',
        '@speed': 1000,
        '@easing': 'ease-in-out',
        '@pause': 5000,
        '@control': true,
        '@gallery': false,
        '>': [{
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/notplaying.jpg?size=188x250',
            '@frontImage': true,
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/asdkfnad.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/akbf.akjsd.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/a;sdkfbaksd.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/ahsdbfaysd.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': 'https://www.google.com',
            '@imageSrc': 'https://robohash.org/kjabsdfaj.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/oiqreyeiua.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/z,xmcbzhv.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://robohash.org/wouaety.jpg?size=188x250'
        }, {
            '@tag': 'image',
            '@imageLink': 'https://www.google.com',
            '@imageSrc': 'https://robohash.org/oradsfiadv.jpg?size=188x250'
        }]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/carousel3d/index.min.js"></script>
<script>new Carousel3D(jsonData, document.querySelector('#view'));</script>
</html>