<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="commentbox"></div>

    <script>
        const jsonData = {
            "@id": "commentOne",
            "@title": "Comments",
            "@userId": "",
            "@threaded": true,
            "@hasServerCallback": false,
            ">": [{
                "@tag": "comment",
                "@id": 10,
                "@postedOn": "5 days ago",
                "@authorName": "Matt",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "How artistic!"
            }, {
                "@tag": "comment",
                "@id": 11,
                "@postedOn": "Yesterday at 12:30AM",
                "@userId": "",
                "@authorName": "Elliot Fu",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "This has been very useful for my research. Thanks as well!",
                ">": [{
                    "@tag": "comment",
                    "@id": 111,
                    "@postedOn": "2 hours ago",
                    "@authorName": "Jenny Hess",
                    "@avatarUrl": "/assets/images/tom.jpg",
                    "@commentText": "I re-tweeted this.",
                }, {
                    "@tag": "comment",
                    "@id": 122,
                    "@postedOn": "3 hours ago",
                    "@authorName": "Jenny Hess",
                    "@avatarUrl": "/assets/images/tom.jpg",
                    "@commentText": "This has been very useful for my research. Thanks as well!"
                }]
            }, {
                "@tag": "comment",
                "@id": 12,
                "@postedOn": "Just now",
                "@authorName": "Joe Henderson",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "Dude, this is awesome. Thanks so much"
            }]
        }
        const buttonData = {
            "@id": "buttonOne",
            "@name": "",
            "@value": "",
            "@buttonStyle": "labeled",
            "@url": "",
            "@iconPosition": "left",
            "@size": "",
            "@visibleContent": "text",
            "@hiddenContent": "icon",
            "@transition": "fade",
            "@iconName": "user",
            "@tabIndex": 0,
            "@buttonText": "Hello Button",
            "@transitionContent": "Hello",
            "@color": "yellow",
            "@socialButton": "twitter",
            "@position": ""
        }
    </script>
    <script>
        // This is a polyfill that allows components to do
        // module.exports = ... in the browser
        window.module = {
            exports: {}
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/comment/index.min.js"></script>
    <script>
    let comment = new Comment(jsonData, document.querySelector('#commentbox'));
    // comment.appendForm(buttonData);
    </script>
</body>

</html>