<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <div id='view'></div>
  
  <script>
    const jsonData = {
      '@id': 'my-awesome-dropzone',
      '@action': 'https://formstone.it/demo/_extra/upload-target.php',
    }
  </script>
  <script src="/assets/js/polyfills/index.min.js"></script>
  <script src="/components/base.min.js"></script>
  <script src="/components/file-upload/index.min.js"></script>
  <script>const fileUpload = new FileUpload(jsonData, document.getElementById('view'))</script>

</body>

</html>