<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

    <script>
        const commentBox = {
            "@id": "commentOne",
            "@title": "Comments",
            "@userId": "",
            "@threaded": true,
            ">": [{
                "@tag": "comment",
                "@id": 10,
                "@postedOn": "5 days ago",
                "@authorName": "Matt",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "How artistic!"
            }, {
                "@tag": "comment",
                "@id": 11,
                "@postedOn": "Yesterday at 12:30AM",
                "@userId": "",
                "@authorName": "Elliot Fu",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "This has been very useful for my research. Thanks as well!",
                ">": [{
                    "@tag": "comment",
                    "@id": 111,
                    "@postedOn": "2 hours ago",
                    "@authorName": "Jenny Hess",
                    "@avatarUrl": "/assets/images/tom.jpg",
                    "@commentText": "I re-tweeted this.",
                }, {
                    "@tag": "comment",
                    "@id": 122,
                    "@postedOn": "3 hours ago",
                    "@authorName": "Jenny Hess",
                    "@avatarUrl": "/assets/images/tom.jpg",
                    "@commentText": "This has been very useful for my research. Thanks as well!"
                }]
            }, {
                "@tag": "comment",
                "@id": 12,
                "@postedOn": "Just now",
                "@authorName": "Joe Henderson",
                "@avatarUrl": "/assets/images/nan.jpg",
                "@commentText": "Dude, this is awesome. Thanks so much"
            }]
        }
        
        const pieChartApp = {
            '@id': 'piechart',
            '@title': 'How Much Pizza I Ate Last Night',
            '@legendPosition': null,
            '@3D': false,
            '@donutChart': true,
            '@donutChartRadius': 0.2,
            '@backgroundColor': 'white',
            '@subject': 'Topping',
            '@chartheight': 400,
            '@chartwidth': 500,
            '@width': 600,
            '@height': 400,
            '@subjectType': 'string',
            '@subjectValue': 'Slices',
            '@subjectValueType': 'number',
            '@forceIFrame': false,
            '@reverseCategories': true,
            '@selectionMode': 'multiple', //single(default) || multiple
            '@pieSliceTextStyle': {
                '@textColor': 'white',
                '@fontName': '',
                '@fontSize': '',
            },
            '@enableInteractivity': true, //true (default) || false
            '@animateChart': true,
            '@animationDuration': 2000,
            '@transitionStyle': 'linear',
            '@slices': {
                3: { offset: 0.1 },
                0: { offset: 0.1 },
            },
            '>': [
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 2],
                ['Zucchini', 2],
                ['Pepperoni', 2],
            ]
        }
        const componentInfo = {
            "@id": "tableOne",
            "@title": "People Of The World",
            "@tableStyle": "inbox",
            "@isHoverable": true,
            "@isResponsive": true,
            "@textAlign": "center",
            "@isStriped": false,
            "@hasBorder": false,
            "@singleLine": false,
            "@isInverted": false,
            "@color": "blue",
            "@isDataTable": false,
            "@isEditableTable": false,
            "@isFixed": false,
            ">": [{
                "@tag": "columns-definitions",
                ">": [{
                    "@tag": "column",
                    "@title": "name"
                }, {
                    "@tag": "column",
                    "@title": "age"
                }, {
                    "@tag": "column",
                    "@title": "job"
                }, {
                    "@tag": "column",
                    "@title": "salary"
                }, {
                    "@tag": "column",
                    "@title": "description"
                }]
            }, {
                "@tag": "row",
                "@id": 123,
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }]
            }, {
                "@tag": "row",
                "@id": 124,
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }]
            }, {
                "@tag": "row",
                "@id": 125,
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }]
            }]
        }

        const jsonData = {
            "@id": "cardOne",
            "@title": "Performance",
            "@headerIcon": "book",
            "@maxHeight": '600px',
            "@overflow": 'auto',
            "@componentTag": "table",
            "@componentData": componentInfo,
            ">": [{
                "@tag": "option",
                "@optionText": "Weird Stuff",
                "@clientCallback": function f0() {
                    console.log(this);
                }
            }, {
                "@tag": "option",
                "@optionText": "Maximize",
                "@clientCallback": function f0() {
                    console.log(this);
                },
            }, {
                "@tag": "option",
                "@optionText": "Minimize",
                "@clientCallback": function f0() {
                    console.log(this);
                },
            }, {
                "@tag": "option",
                "@optionText": "More Options",
                "@clientCallback": function f0() {
                    console.log(this);
                },
            }, {
                "@tag": "option",
                "@optionText": "Expand",
                "@clientCallback": function f0() {
                    console.log(this);
                },
            }, {
                "@tag": "option",
                "@optionText": "Do something",
                "@clientCallback": function f0() {
                    console.log(this);
                },
            }]
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/card/index.min.js"></script>
    <script>new Card(jsonData, document.querySelector("#view"));</script>


</body>

</html>