<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="tile"></div>
    <br />
    <br />
    <div id="tile2"></div>

    <script>
        const appendData = {
            "@title": "Flat Tile",
            "@title": "Tile",
            "@tilesPerRow": 2,
            "@buttons": [{
                "@tag": "button",
                "@position": "left",
                "@color": "red",
                "@buttonText": "Decline",
                "@buttonDisplay": "basic",
                "@fluid": true,
            }, {
                "@tag": "button",
                "@position": "right",
                "@color": "green",
                "@buttonText": "Accept",
                "@buttonDisplay": "basic",
                "@fluid": true,
            }],
            ">": [{
                "@tag": "pill",
                "@id": "tileOne",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileTwo",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Not Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited 5 mins ago",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileThree",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Why Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited today",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tilefour",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "OOOhhh! Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileFive",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Hmmm.. Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited now now",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileSix",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Why Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited yesterday",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileSeven",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Ok, Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited last month",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileEight",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Not Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited last month",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "pill",
                "@id": "tileNine",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }]
        }
        
        const jsonData = {
            "@id": "tileOne",
            "@title": "Tile",
            "@tilesPerRow": 2,
            "@buttons": [{
                "@tag": "button",
                "@position": "left",
                "@color": "red",
                "@buttonText": "Decline",
                "@buttonDisplay": "basic",
                "@fluid": true,
            }, {
                "@tag": "button",
                "@position": "right",
                "@color": "green",
                "@buttonText": "Accept",
                "@buttonDisplay": "basic",
                "@fluid": true,
            }],
            ">": [{
                "@tag": "tile",
                "@id": "tileOne",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileTwo",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileThree",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tilefour",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileFive",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileSix",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileSeven",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileEight",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, {
                "@tag": "tile",
                "@id": "tileNine",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }, , {
                "@tag": "tile",
                "@id": "tileTen",
                "@tileImage": "/assets/images/placeholder.jpg",
                "@tileHeader": "Getting Started",
                "@headerIcon": "th",
                "@secondaryText": "You edited recently",
                "@linkedUrl": "https://www.google.com",
                clientCallbacks() {
                    window.location.href = this['@linkedUrl'];
                }
            }]
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/tile/index.min.js"></script>
    <script>
        let tile = new Tile(jsonData, document.querySelector("#tile"));
        let tile2 = new Tile(appendData, document.querySelector("#tile2"));
    </script>

</body>

</html>