<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="step"></div>

    <script>
        const jsonData = {
            'id': 'stepOne',
            '@title': 'step',
            '@alignment': 'horizontal',
            "stackable": "true | false",
            ">": [{
                    "@tag": "step",
                    "@stepId": "step-1234",
                    "@title": "Shipping",
                    "@icon": "truck",
                    "@description": "Choose your shipping option",
                    "@completed": false
                },{
                    "@tag": "step",
                    "@stepId": "step-12345",
                    "@title": "Billing",
                    "@icon": "payment",
                    "@description": "Enter Billing information",
                    "@completed":false
                },{
                    "@tag": "step",
                    "@stepId": "step-123456",
                    "@title": "Confirm Order",
                    "@icon": "info",
                    "@description": "Verify order details",
                    "@completed": false
                }]
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/step/index.min.js"></script>
    <script>new Step(jsonData, document.querySelector('#step'))</script>
</body>

</html>