<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <div id='modal'></div>
  
  <script>
    const jsonData = {
      '@id': 'modalOne',
      '@title': 'Profile Picture',
      '@modalStyle': 'image',
      '@size': 'tiny',
      '@descriptionHeader': 'General Modal Image Stuff',
      '@descriptionText': 'Hello People, Its me again <p>We\'ve grabbed the following image from the',
      '@approveButtonText': 'Done',
      '@denyButtonText': 'Cancel',
      '@singleButtonText': 'Close',
      '@singleButtonColor': 'blue',
      '@imageSrc': '/assets/images/nan.jpg',
      '@modalIcon': 'archive',
      '@imageWidth': '',
      '@imageHeight': '',
      '@hasServerCallback': true,
      '@clientCallback': () => {
        console.log('modal client call back');
      } 
    }
  </script>
  <script src="/assets/js/polyfills/index.min.js"></script>
  <script src="/components/base.min.js"></script>
  <script src="/components/modal/index.min.js"></script>
  <script>const modal = new Modal(jsonData, document.getElementById('modal'))
  setTimeout(() => {
      modal.openModal(jsonData);
    }, 2000);
  </script>

</body>

</html>