
.slds-c-drawer-container {

    .slds-button_icon-circular {
        position: absolute;
    }

    position: relative;
    overflow: hidden;
    display: flex;

    // Todo: Pass in "width" and "height" from the data model to the template
    height: 100%;

    .slds-c-drawer {

        z-index: 9001;
        display: block;

        min-width: unset;
        width: 0;
        opacity: 0;

        transition: opacity .3s ease-out, width 1s ease;

        &.slds-is-open {

            transition: opacity .3s ease-in, width .5s ease;
            opacity: 1;

            &.slds-size_xx-large {
                width: 60rem;
            }

            &.slds-size_x-large {
                width: 40rem;
            }

            &.slds-size_large {
                width: 25rem;
            }

            &.slds-size_medium {
                width: 20rem;
            }

            &.slds-size_small {
                width: 15rem;
            }

            &.slds-size_x-small {
                width: 12rem;
            }

            &.slds-size_xx-small {
                width: 6rem;
            }
        }
    }
}

.slds-panel_docked-right {
    // box-shadow: -1px 0 3px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
}

.slds-panel_docked-left {
    // box-shadow: 1px 0 3px rgb(0 0 0 / 25%);
    box-shadow: 0 0 3px rgb(0 0 0 / 25%);
}

.slds-c-overlay-drawer {

    .slds-button_icon-circular {
        position: absolute;
    }

    z-index: 9001;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .1s ease-in-out,
    transform .4s ease;

    &.slds-panel_docked-left {
        transform: translate3d(-120%, 0, 0);
        // transform: translateX(-120%);

        &.slds-is-open {
            opacity: 1;
            transform: translate3d(0, 0, 0); 
            // transform: translateX(0);
        }
    }

    &.slds-panel_docked-right {
        transform: translate3d(120%, 0, 0);
        // transform: translateX(120%);

        &.slds-is-open {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            // transform: translateX(0);
        }
    }
}