<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'gaugeChart',
        '@title': 'Company Performance',
        '@legendPosition': 'top',
        '@fontSize': '',
        '@fontName': '',
        '@chartWidth': 500,
        '@chartHeight': 300,
        '@redFrom': '90',
        '@redTo': '100',
        '@yellowFrom': '75',
        '@yellowTo': '90',
        '@minorTicks': 5,
        '@majorTicks': null,
        '@forceIFrame': false,
        '@gaugeMin': 0,
        '@gaugeMax': 100,
        '>': [
            ['Label', 'Value'],
            ['Memory', 80],
            ['CPU', 55],
            ['Network', 68]
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-gauge/index.min.js"></script>
<script>new GaugeChart(jsonData, document.querySelector('#view'));</script>

</html>