<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'piechart',
        '@title': 'How Much Pizza I Ate Last Night',
        '@legendPosition': null,
        '@3D': false,
        '@donutChart': true,
        '@donutChartRadius': 0.2,
        '@backgroundColor': 'white',
        '@subject': 'Topping',
        '@chartheight': 400,
        '@chartwidth': 500,
        '@width': 600,
        '@height': 400,
        '@subjectType': 'string',
        '@subjectValue': 'Slices',
        '@subjectValueType': 'number',
        '@forceIFrame': false,        
        '@reverseCategories': true, 
        '@selectionMode': 'multiple', //single(default) || multiple
        '@pieSliceTextStyle': {
            '@textColor': 'white',
            '@fontName': '',
            '@fontSize': '',
        },
        '@enableInteractivity': true, //true (default) || false
        '@animateChart': true,
        '@animationDuration': 2000,
        '@transitionStyle': 'linear',
        '@slices': {
            3: { offset: 0.1 },
            0: { offset: 0.1 },
        },
        '>': [
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 2],
            ['Zucchini', 2],
            ['Pepperoni', 2],
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-pie/index.min.js"></script>
<script>new PieChart(jsonData, document.querySelector('#view'));</script>

</html>