<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="navBar"></div>
    <script>
        const jsonData = {
            "@id": "",
            "@title": "",
            "@icon": "",
            "@navBarType": "standard",
            "@orientation": "horizontal",
            "@navPointer": false,
            "@separator": false,
            "@navBarAlignment": "",
            "@menuStyle": "text",
            ">": [{
                "@tag": "group",
                "@position": "left",
                ">": [{
                    "@tag": "item",
                    "@title": "Home",
                    "@iconName": "",
                    "@badge": 5,
                    "@iconOnly": false,
                    "@iconPosition": "",
                    "@active": false,
                    "@url": ""
                }, {
                    "@tag": "item",
                    "@title": "News",
                    "@iconOnly": true,
                    "@iconName": "",
                    "@iconPosition": "right",
                    "@active": false,
                    "@url": "",
                    ">": [{
                        "@tag": "item",
                        "@title": "Sports News",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Football News",
                        "@groupName": "Sports",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Sports News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": "",
                            "@badge": 3
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Sports News",
                                "@url": "",
                                "@badge": 1,
                            }, {
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Tennis News",
                                "@url": "",
                                ">": [{
                                    "@tag": "item",
                                    "@title": "Sports News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@badge": 2,
                                    "@title": "Football News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "BasketBall News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Golf News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Tennis News",
                                    "@url": ""
                                }]
                            }]
                        }]
                    }, {
                        "@tag": "item",
                        "@title": "BasketBall News",
                        "@url": "",
                        "@badge": 9,
                    }, {
                        "@tag": "item",
                        "@title": "Golf News",
                        "@groupName": "External",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Tennis News",
                        "@groupName": "Sports",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Waterball News",
                        "@groupName": "External",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }]
                        }]
                    }]
                }, {
                    "@tag": "item",
                    "@title": "About",
                    "@iconOnly": "true | false",
                    "@iconName": "",
                    "@iconPosition": "left",
                    "@active": false,
                    "@url": ""
                }]
            }]
        }
    </script>
    <script>
        // This is a polyfill that allows components to do
        // module.exports = ... in the browser
        window.module = {
            exports: {}
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/navbar/index.min.js"></script>
    <script>new NavBar(jsonData, document.querySelector("#navBar"));</script>
</body>

</html>