<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="navBar"></div>
    <script>
        const jsonData = {
            "@id": "",
            "@title": "",
            "@navBarType": "standard",
            "@orientation": "",
            ">": [{
                "@tag": "group",
                "@position": "left",
                ">": [{
                    "@tag": "item",
                    "@title": "Home",
                    "@iconName": "home",
                    "@iconColor": "red",
                    "@badge": "",
                    "@iconOnly": false,
                    "@iconPosition": "",
                    "@url": ""
                }, {
                    "@tag": "item",
                    "@title": "News",
                    "@iconOnly": true,
                    "@iconName": "newspaper",
                    "@iconColor": "green",
                    "@iconPosition": "right",
                    "@url": "",
                    ">": [{
                        "@tag": "item",
                        "@title": "Sports News",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Football News",
                        "@groupName": "Sports",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Sports News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": "",
                            "@badge": ''
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Sports News",
                                "@url": "",
                                "@badge": '',
                            }, {
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Tennis News",
                                "@url": "",
                                ">": [{
                                    "@tag": "item",
                                    "@title": "Sports News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@badge": '',
                                    "@title": "Football News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "BasketBall News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Golf News",
                                    "@url": ""
                                }, {
                                    "@tag": "item",
                                    "@title": "Tennis News",
                                    "@url": ""
                                }]
                            }]
                        }]
                    }, {
                        "@tag": "item",
                        "@title": "BasketBall News",
                        "@url": "",
                        "@badge": '',
                    }, {
                        "@tag": "item",
                        "@title": "Golf News",
                        "@groupName": "External",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Tennis News",
                        "@groupName": "Sports",
                        "@url": ""
                    }, {
                        "@tag": "item",
                        "@title": "Waterball News",
                        "@groupName": "External",
                        "@url": "",
                        ">": [{
                            "@tag": "item",
                            "@title": "Football News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "BasketBall News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Golf News",
                            "@url": ""
                        }, {
                            "@tag": "item",
                            "@title": "Tennis News",
                            "@url": "",
                            ">": [{
                                "@tag": "item",
                                "@title": "Football News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "BasketBall News",
                                "@url": ""
                            }, {
                                "@tag": "item",
                                "@title": "Golf News",
                                "@url": ""
                            }]
                        }]
                    }]
                }, {
                    "@tag": "item",
                    "@title": "About",
                    "@iconOnly": "true | false",
                    "@iconName": "",
                    "@iconPosition": "left",
                    "@onClickEvent": () => {
                        console.log('event called');
                    },
                    "@url": ""
                }, {
                    "@tag": "button",
                    "@title": "Compose",
                    "@iconName": "write",
                    "@iconColor": "green",
                    "@badge": '',
                    "@iconOnly": false,
                    "@iconPosition": "left",
                    "@url": "",
                    ">": {
                        "@id": "navbarButton",
                        "@fluid": false,
                        "@buttonStyle": "basic",
                        "@iconPosition": "left",
                        "@buttonText": "Compose",
                        "@iconName": "edit",
                        "@color": "yellow",
                        "@linkedUrl": "https://www.google.com",
                        "@clientCallbacks": function execute() {
                            console.log('Clicked');
                        }
                    }

                }]
            }]
        }
    </script>
    <script>
        // This is a polyfill that allows components to do
        // module.exports = ... in the browser
        window.module = {
            exports: {}
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/navbar/index.min.js"></script>
    <script>new NavBar(jsonData, document.querySelector("#navBar"));</script>
</body>

</html>