
@media (min-width: 48em) {
    .slds-form-element_horizontal .slds-form-element__row {
        .slds-input-has-icon_left-right .slds-input__icon_left {
            left: .75rem;
        }

        .slds-form-element__icon {
            padding-top: 0.125rem;
        }
    }
}

@media (min-width: 768px) {
    .slds-form-element_horizontal .slds-form-element__row {
        .slds-form-element__icon {
            float: none;
        }
    }
}

@media (min-width: 963px) {
    .slds-form-element_horizontal .slds-form-element__row {
        .slds-form-element__legend {
            float: left !important;
        }
    }
}