<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>
 
<script>
    const jsonData = {
        '@id': 'carouselOne',
        '@imagesInView': '1',
        '@loop': true, 
        '@mode': 'slide',
        '@speed': 1000,
        '@easing': 'ease-in-out',
        '@pause': 5000,
        '@control': true,
        '@showCaption': true,
        '@gallery': false,
        '>': [{
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        }, {
            '@tag': 'image',
            '@imageLink': '#',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit vehicula aliquam',
        }, {
            '@tag': 'image',
            '@imageLink': 'https://www.google.com',
            '@imageSrc': 'https://via.placeholder.com/1400x500',
            '@captionText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit vehicula aliquam',
        }]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/carousel/index.min.js"></script>
<script>new Carousel(jsonData, document.querySelector('#view'));</script>
</html>