<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'annotationChart',
        '@title': 'Company Performance',
        '@chartWidth': 1000,
        '@chartHeight': 500,
        '@enableInteractivity': true, //true (default) || false
        '@forceIFrame': false,
        '@displayZoomButtons': false,
        '@displayAnnotation': true,
        '@displayExactValues': false,
        '@colors': undefined,
        '@displayRangeSelector': true,
        '@thickness': 2,
        '@fill': '', // Between 0 to 100
        '@columns': [{
            '@tag': 'column',
            '@type': 'date',
            '@title': 'Date',
        }, {
            '@tag': 'column',
            '@type': 'number',
            '@title': 'Kepler-22b mission',
        }, {
            '@tag': 'column',
            '@type': 'string',
            '@title': 'Kepler title',
        }, {
            '@tag': 'column',
            '@type': 'string',
            '@title': 'Kepler text',
        }, {
            '@tag': 'column',
            '@type': 'number',
            '@title': 'Gliese 163 mission',
        }, {
            '@tag': 'column',
            '@type': 'string',
            '@title': 'Gliese title',
        }, {
            '@tag': 'column',
            '@type': 'string',
            '@title': 'Gliese text',
        }],
        '>': [
          [new Date(2314, 2, 15), 12400, undefined, undefined, 10645, undefined, undefined],
          [new Date(2314, 2, 16), 24045, 'Lalibertines', 'First encounter', 12374, undefined, undefined],
          [new Date(2314, 2, 17), 35022, 'Lalibertines', 'They are very tall', 15766, 'Gallantors', 'First Encounter'],
          [new Date(2314, 2, 18), 12284, 'Lalibertines', 'Attack on our crew!', 34334, 'Gallantors', 'Statement of shared principles'],
          [new Date(2314, 2, 19), 8476, 'Lalibertines', 'Heavy casualties', 66467, 'Gallantors', 'Mysteries revealed'],
          [new Date(2314, 2, 20), 0, 'Lalibertines', 'All crew lost', 79463, 'Gallantors', 'Omniscience achieved']
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-annotation/index.min.js"></script>
<script>new AnnotationChart(jsonData, document.querySelector('#view'));</script>

</html>