<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="tab"></div>

    <script>
        const jsonData = {
            "@displayStyle": "basic",
            "@title": "",
            ">": [{
                "@tag": "tab",
                "@title": "Tab One",
                "@data-tab": "first",
                ">": {
                    "@tag": "tab-body",
                    "@content": "First Content"
                }
            }, {
                "@tag": "tab",
                "@title": "Tab Two",
                "@data-tab": "second",
                ">": {
                    "@tag": "tab-body",
                    "@content": "Second Content"
                }
            }, {
                "@tag": "tab",
                "@title": "Tab Three",
                "@data-tab": "three",
                ">": {
                    "@tag": "tab-body",
                    "@content": "Third Content"
                }
            }]
        }
    </script>
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>
        new Tab(jsonData, document.querySelector("#tab"));
    </script>

</body>

</html>