
.slds-illustration-container_small .slds-illustration__svg {
    width:100%;
    max-width:300px;
    max-height:200px;
    margin-bottom:1rem
}

.slds-illustration-container_large .slds-illustration__svg {
    width:100%;
    max-width:600px;
    max-height:400px;
    margin-bottom:3rem
}

.slds-illustration-container_large .slds-illustration__header {
    margin-bottom:1.5rem
}

.slds-illustration-container_large p {
    margin-bottom:3rem
}