<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="view"></div>

</body>

<script>
    const jsonData = {
        '@id': 'waterfallChart',
        '@title': 'Company Performance',
        '@legendPosition': 'none',
        '@backgroundColor': '',
        '@fontSize': '',
        '@fontName': '',
        '@chartWidth': 500,
        '@chartHeight': 500,
        '@width': 600,
        '@height': 600,
        '@barWidth': '90',
        '@colors': null,
        '@enableInteractivity': true, //true (default) || false
        '@forceIFrame': false,
        '@animateChart': true,
        '@animationDuration': 2000,
        '@transitionStyle': 'linear',
        '@orientation': '',
        '@reverseCategories': '',
        '@selectionMode': 'single',
        '@aggregationTarget': 'auto', // 'category' || 'series'
        '@candlestick': {
            '@hollowIsRising': 'false',
            '@fallingColor': {
                '@fill': 'auto',
                '@stroke': '',
                '@strokeWidth': '',
            },
            '@risingColor': {
                '@fill': 'auto',
                '@stroke': '',
                '@strokeWidth': '',
            }
        },
        '@hAxis': {
            '@title': 'Days',
            '@color': '#333',
            '@fontName': '',
            '@fontSize': '',
            '@bold': '',
            '@italic': '',
            '@maxValue': '',
            '@minValue': '',
            '@direction': 1, // 1 or -1. -1 reverses the order of the values
        },
        '@vAxis': {
            '@title': 'Amount',
            '@color': '#333',
            '@fontName': '',
            '@fontSize': '',
            '@bold': '',
            '@italic': '',
            '@maxValue': '',
            '@minValue': '',
            '@direction': 1, // 1 or -1. -1 reverses the order of the values
        },
        '>': [
            ['Mon', 28, 28, 38, 38],
            ['Tue', 38, 38, 55, 55],
            ['Wed', 55, 55, 77, 77],
            ['Thu', 77, 77, 66, 66],
            ['Fri', 66, 66, 22, 22]
            // Treat first row as data as well.
        ]
    }
</script>
<script>
    // This is a polyfill that allows components to do
    // module.exports = ... in the browser
    window.module = {
        exports: {}
    }
</script>
<script src="/assets/js/polyfills/index.min.js"></script>
<script src="/components/base.min.js"></script>
<script src="/components/chart-waterfall/index.min.js"></script>
<script>new WaterfallChart(jsonData, document.querySelector('#view'));</script>

</html>