<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./../../css/table.css">
    <link rel="stylesheet" href="./../../css/editable.css">
    <link rel="stylesheet" href="./../../css/icon.css">
    <link rel="stylesheet" href="./../../shared/css/semantic.css">
    <link href="../../shared/css/main.css" rel="stylesheet" />
    <link href="../../shared/css/ionicons.css" rel="stylesheet" />

</head>
<body>
    <div id="Table"></div>


    <!-- js dependencies -->
  
    <script src="./index.js"></script>
    <!-- jquery -->
    <script src="./../../shared/js/jquery-3.4.1.min.js"></script>
    <script src="./../../shared/js/jquery.dataTables.js"></script>  
    
    <!-- custom -->
    <script src="./../../js/datatable/dataTables.semanticui.js"></script>
    <script src="./../../shared/js/custom-datatable.js"></script>
    <script src="./../../shared/js/jquery.nicescroll.js"></script>
    <script src="./../../shared/js/main.js"></script>
    
    <!-- semantic -->
    <script src="./../../shared/js/semantic.js"></script>
</body>
</html>  