<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/progress.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/shared/css/site.css">
    <link rel="stylesheet" href="/shared/css/reset.css">
</head>

<body>
    <div id="progressBar"></div>

    <!-- js dependencies -->
    <script src="/shared/js/jquery-3.4.1.min.js"></script>

    <script src="/js/progress.js"></script>
    <script src="/components/base.js"></script>
    <script src="./index.js"></script>
    <script>new ProgressBar().render(document.querySelector("#progressBar"));</script>
 
</body>

</html>