<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="table"></div>
    <div id="table2"></div>

    <script>

        const appendRowData = [
            {
                "@tag": "row",
                "@id": "",
                ">": {
                    0: "James",
                    1: "28",
                    2: "Doctor",
                    3: "125000.60",
                    4: "James is an interesting boy but sometimes" +
                        " you don't really have enough room to describe everything you'd like"
                }
            },
            {
                "@tag": "row",
                "@id": "",
                ">": {
                    0: "Jill",
                    1: "29",
                    2: "Carpenter",
                    3: "516000.00",
                    4: "Jill is an alright girl but sometimes you don't" +
                        " really have enough room to describe everything you'd like"
                }
            },
            {
                "@tag": "row",
                "@id": "",
                ">": {
                    0: "Elyse",
                    1: "30",
                    2: "Designer",
                    3: "210000.40",
                    4: "Elyse is a kind girl but sometimes you don't really have" +
                        " enough room to describe everything you'd like"
                }
            }
        ];

        const jsonData = {
            "@id": "tableOne",
            "@title": "People Of The World",
            "@tableStyle": "inbox",
            "@isHoverable": true,
            "@isResponsive": true,
            "@textAlign": "center",
            "@isStriped": false,
            "@hasBorder": false,
            "@singleLine": true,
            "@isInverted": false,
            "@color": "blue",
            "@isDataTable": false,
            "@isEditableTable": false,
            "@isFixed": true,
            ">": [{
                "@tag": "columns-definitions",
                ">": [{
                    "@tag": "column",
                    "@title": "name"
                }, {
                    "@tag": "column",
                    "@title": "age"
                }, {
                    "@tag": "column",
                    "@title": "job"
                }, {
                    "@tag": "column",
                    "@title": "salary"
                }, {
                    "@tag": "column",
                    "@title": "description"
                }]
            }, {
                "@tag": "row",
                "@id": 123,
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }]
            }, {
                "@tag": "row",
                "@id": 124,
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }]
            }, {
                "@tag": "row",
                "@id": 125,
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }]
            }]
        }
    </script>
    <!-- js dependencies -->
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/table/index.min.js"></script>
    <script>
        const tableId = document.getElementById('table');
        let table = new Table(jsonData, document.querySelector("#table"));
        // setTimeout(() => table.appendRow(appendRowData), 2500);
        
        // tableId.addEventListener('dblclick', (event) => {
        //     table.deleteRow(Table.getRow(event));
        // });
        // tableId.addEventListener('dblclick', (event) => {
        //     let cellId = Table.getCellId(event);
        //     table.editRow({ id: cellId, content: 'Hello New Content' });
        // });
    </script>

</body>

</html>