<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="table"></div>

    <script>

        const appendRowData = [
            {
                "@tag" : "row",
                ">": {
                    "Name": "James",
                    "Age": "28",
                    "Job": "Doctor",
                    "Salary": "125000.60",
                    "Description": "James is an interesting boy but sometimes" +
                        " you don't really have enough room to describe everything you'd like"
                }           
            },
            {
                "@tag" : "row",
                ">": {
                    "Name": "Jill",
                    "Age": "29",
                    "Job": "Carpenter",
                    "Salary": "516000.00",
                    "Description": "Jill is an alright girl but sometimes you don't" +
                        " really have enough room to describe everything you'd like"
                }
            },
            {
                "@tag" : "row",
                ">": {
                    "Name": "Elyse",
                    "Age": "30",
                    "Job": "Designer",
                    "Salary": "210000.40",
                    "Description": "Elyse is a kind girl but sometimes you don't really have" +
                        " enough room to describe everything you'd like"
                }
            }
        ];

        const jsonData = {
            "@title": "People Of The World",
            "@tableStyle": "standard",
            "@isHoverable": true,
            "@isResponsive": true,
            "@textAlign": "center",
            "@isStriped": false,
            "@hasBorder": true,
            "@singleLine": false,
            "@isInverted": false,
            "@color": "blue",
            "@isDataTable": false,
            "@isEditableTable": false,
            "@isFixed": true,
            ">": [{
                "@tag": "columns-definitions",
                ">": [{
                    "@tag": "column",
                    "@title": "name"
                }, {
                    "@tag": "column",
                    "@title": "age"
                }, {
                    "@tag": "column",
                    "@title": "job"
                }, {
                    "@tag": "column",
                    "@title": "salary"
                }, {
                    "@tag": "column",
                    "@title": "description"
                }]
            }, {
                "@tag": "row",
                ">": [{
                    "@tag": "column",
                    "@value": "James"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "125000.60"
                }, {
                    "@tag": "column",
                    "@value": "James is an interesting boy but sometimes you don't really have enough room to describe everything you'd like"
                }]
            }, {
                "@tag": "row",
                ">": [{
                    "@tag": "column",
                    "@value": "Jill"
                }, {
                    "@tag": "column",
                    "@value": "26"
                }, {
                    "@tag": "column",
                    "@value": "Engineer"
                }, {
                    "@tag": "column",
                    "@value": "516000.00"
                }, {
                    "@tag": "column",
                    "@value": "Jill is an alright girl but sometimes you don't really have enough room to describe everything you'd like"
                }]
            }, {
                "@tag": "row",
                ">": [{
                    "@tag": "column",
                    "@value": "Elyse"
                }, {
                    "@tag": "column",
                    "@value": "24"
                }, {
                    "@tag": "column",
                    "@value": "Designer"
                }, {
                    "@tag": "column",
                    "@value": "210000.40"
                }, {
                    "@tag": "column",
                    "@value": "Elyse is a kind girl but sometimes you don't really have enough room to describe everything you'd like"
                }]
            }]
        }
    </script>
    <!-- js dependencies -->
    <script src="/components/base.min.js"></script>
    <script src="/components/table/index.min.js"></script>
    <script>
        const tableId = document.getElementById('table');
        let table = new Table(jsonData, document.querySelector("#table"));
        setTimeout(() => table.update('appendRow', appendRowData), 2500);
        // tableId.addEventListener('dblclick', (event) => {
        //     table.update('deleteRow', Table.getRow(event));
        // });
        tableId.addEventListener('dblclick', (event) => {
            let cellId = Table.getCellId(event);
            table.update('editRow', {id: cellId, content: 'Hello New Content'});
        });
    </script>

</body>

</html>