<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<body>

    <div id="searchBar"></div>

    <script>
        const jsonData = {
            "@id": "searchOne",
            "@title": "searchOne",
            "@placeholder": "Search...",
            "@animated": true,
            "@searchIcon": true,
            "@iconName": "icon input",
            "@autoComplete": true,
            "@size": "",
            "@disabled": false,
            "@apiUrl": "http://api.github.com/search/repositories?q={query}",
            "@hasServerCallback": true,
            "@clientCallbacks": {},
            ">": [
                { '@tag': 'item', '@id': '', '@title': 'Afghanistan' },
                { '@tag': 'item', '@id': '', '@title': 'Andorra' },
                { '@tag': 'item', '@id': '', '@title': 'Antigua' },
                { '@tag': 'item', '@id': '', '@title': 'Anguilla' },
                { '@tag': 'item', '@id': '', '@title': 'Albania' },
                { '@tag': 'item', '@id': '', '@title': 'Armenia' },
                { '@tag': 'item', '@id': '', '@title': 'Netherlands Antilles' },
                { '@tag': 'item', '@id': '', '@title': 'Angola' },
                { '@tag': 'item', '@id': '', '@title': 'Argentina' },
                { '@tag': 'item', '@id': '', '@title': 'American Samoa' },
                { '@tag': 'item', '@id': '', '@title': 'Austria' },
                { '@tag': 'item', '@id': '', '@title': 'Australia' },
                { '@tag': 'item', '@id': '', '@title': 'Aruba' },
                { '@tag': 'item', '@id': '', '@title': 'Aland Islands' },
                { '@tag': 'item', '@id': '', '@title': 'Azerbaijan' },
                { '@tag': 'item', '@id': '', '@title': 'Bosnia' },
                { '@tag': 'item', '@id': '', '@title': 'Barbados' },
                { '@tag': 'item', '@id': '', '@title': 'Bangladesh' },
                { '@tag': 'item', '@id': '', '@title': 'Belgium' },
                { '@tag': 'item', '@id': '', '@title': 'Burkina Faso' },
                { '@tag': 'item', '@id': '', '@title': 'Bulgaria' },
                { '@tag': 'item', '@id': '', '@title': 'Bahrain' },
                { '@tag': 'item', '@id': '', '@title': 'Burundi' },
                { '@tag': 'item', '@id': '', '@title': 'Nigeria' },
                { '@tag': 'item', '@id': '', '@title': 'United Arab Emirates' }
            ]
        }
    </script>
    <script>
        // This is a polyfill that allows components to do
        // module.exports = ... in the browser
        window.module = {
            exports: {}
        }
    </script>
    <script src="/assets/js/polyfills/index.min.js"></script>
    <script src="/components/base.min.js"></script>
    <script src="/components/search-bar/index.min.js"></script>
    <script>
        new SearchBar(jsonData, document.querySelector("#searchBar"));
    </script>
</body>

</html>